<html lang="en">
  <head>
    {% include all-head.html %}
  </head>
  <body>
    {% include archive-ribbon.html %}
    {% include all-navbar.html %}
    {% include all-header.html %}

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 push-md-3">
          <a href="https://kamino.io/?utm_source=kamon&utm_medium=docs&utm_campaign=kamon">
            <div class="row align-items-center justify-content-end kamino-docs-top">
              <div class="col-auto">
                  <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/the-perfect-match.svg">
              </div>
            </div>
          </a>
          <div class="row docs-content">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3 pull-md-9 documentation-sidebar">
          <section>
            <ul class="tree">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/get-started/' }}></i>Get Started</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/events-and-workshops/' }}></i>Events and Workshops</a></li>
            </ul>
          </section>

          <section>

            <div class="tree tree-toggler docs-level-one row justify-content-end align-items-center">

              <div class="dropdown version-dropdown">
                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kamon 1.x
                </a>

                {% include version-dropdown-options.html %}

              </div>
            </div>

            <ul class="tree tree-toggler">
              <li>
                <label class="tree-toggler tree docs-level-two">Basics</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/basics/overview/' }}>Overview</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/basics/metrics/' }}>Metrics</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/basics/tracing/' }}>Tracing</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/basics/context/' }}>Context</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/basics/utilities/' }}>Utilities</a></li>
                </ul>
              </li>

              <li>
                <label class="tree-toggler tree docs-level-two">Advanced Topics</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/core/advanced/metric-instruments/' }}>Metric Instruments</a></li>
                </ul>
              </li>
            </ul>

            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Instrumentation</span>
            </div>

            <ul class="tree tree-toggler">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/instrumentation/executor-service/' }}>Executor Services</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/instrumentation/futures/' }}>Futures</a></li>
              <li>
                <a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/instrumentation/akka/' }}>Akka</a>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/instrumentation/akka/actor-system-metrics/' }}>Metrics Collection</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/instrumentation/akka/message-tracing/' }}>Message Tracing</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/instrumentation/akka/context-propagation/' }}>Context Propagation</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/1.x/instrumentation/akka/ask-pattern-timeout-warning/' }}>Ask Pattern Timeout Warning</a></li>
                </ul>
              </li>
            </ul>

            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Reporters</span>
            </div>

            <ul class="tree tree-toggler">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/prometheus/' }}>Prometheus</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/influxdb/' }}>InfluxDB</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/statsd/' }}>StatsD</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/zipkin/' }}>Zipkin</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/jaeger/' }}>Jaeger</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/kamino/' }}>Kamino</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/sematext/' }}>Sematext SPM</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/reporters/datadog/' }}>Datadog</a></li>
            </ul>


            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Recipes</span>
            </div>
            <ul class="tree tree-toggler">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/recipes/migrating-from-kamon-0.6/' }}>Migrating from Kamon 0.6</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/recipes/adding-the-aspectj-weaver/' }}>Adding the AspectJ Weaver</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/1.x/recipes/monitoring-akka-quickstart/' }}>Monitoring Akka Quickstart</a></li>
            </ul>
          </section>
        </div>

      </div>
    </div>

    {% include footer.html %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/prism-typesafeconfig.js"></script>
    <script src="/assets/js/heading-links.js"></script>
    {% include google-analytics.html %}
    {% include gitter.html %}

  </body>
</html>
