<html lang="en">
  <head>
    {% include all-head.html %}
  </head>
  <body>
    {% include all-navbar.html %}
    {% include all-header.html %}

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 push-md-3">
          <div class="row align-items-center justify-content-end kamino-docs-top">
            <div>
                <a href="https://kamino.io">
                  <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/sponsored-by-kamino.svg">
                </a>
            </div>
          </div>
          <div class="row docs-content">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
          <!--<div class="row align-items-center kamino-docs-bottom">
            <div class="col-xs-offset-1 col-xs-5">
                <a href="http://kamino.io">
                  <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/sponsored-by-kamino.svg">
                </a>
                <a class="btn btn-sign-up btn-lg">Visit kamino.io</a>
            </div>
          </div>-->
        </div>

        <div class="col-12 col-md-3 pull-md-9 documentation-sidebar">
          <section>
            <ul class="tree">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/get-started/' }}></i>Get Started</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/events-and-workshops/' }}></i>Events and Workshops</a></li>
            </ul>
          </section>

          <section>

            <div class="tree tree-toggler docs-level-one row justify-content-end align-items-center">

              <div class="dropdown version-dropdown">
                <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kamon 0.6.x
                </a>

                {% include version-dropdown-options.html %}

              </div>
            </div>

            <ul class="tree tree-toggler">
              <li>
                <label class="tree-toggler tree docs-level-two">Metrics</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/metrics/core-concepts/' }}>Overview</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/metrics/instruments/' }}>Instruments</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/metrics/recording-metrics/' }}>Recording Metrics</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/metrics/subscription-protocol/' }}>Subcriptions Protocol</a></li>
                </ul>
              </li>

              <li>
                <label class="tree-toggler tree docs-level-two">Tracing</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/tracing/core-concepts/' }}>Overview</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/tracing/threading-model-considerations/' }}>Threading Model Considerations</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/tracing/trace-metrics/' }}>Trace Metrics</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/tracing/trace-context-manipulation/' }}>TraceContext Manipulation</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/tracing/subscription-protocol/' }}>Subscriptions Protocol</a></li>
                </ul>
              </li>

              <li>
                <label class="tree-toggler tree docs-level-two">Modules</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/modules/using-modules/' }}>Using Modules</a></li>
                </ul>
              </li>

              <li>
                <label class="tree-toggler tree docs-level-two">Configuration</label>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-core/configuration/' }}>Configuring Kamon</a></li>
                </ul>
              </li>
            </ul>

            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Instrumentation</span>
            </div>

            <ul class="tree tree-toggler">
              <li>
                <a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-akka/overview/' }}>Akka</a>
                <ul>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-akka/actor-router-and-dispatcher-metrics/' }}>Actor System Metrics</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-akka/ask-pattern-timeout-warning/' }}>Ask Pattern Timeout Warning</a></li>
                  <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-three', '/documentation/0.6.x/kamon-akka/automatic-trace-context-propagation/' }}>Automatic Trace Context Propagation</a></li>
                </ul>
              </li>

              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-scala/overview/' }}>Scala</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-play/overview/' }}>Play Framework</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-spray/overview/' }}>Spray</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-jdbc/overview/' }}>JDBC</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-annotation/overview/' }}>Annotations</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-system-metrics/overview/' }}>System Metrics</a></li>
            </ul>

            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Reporters</span>
            </div>

            <ul class="tree tree-toggler">
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-statsd/overview/' }}>StatsD</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-datadog/overview/' }}>Datadog</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-newrelic/overview/' }}>New Relic</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-sematext-spm/overview/' }}>Sematext SPM</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-jmx/overview/' }}>JMX</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-fluentd/overview/' }}>FluendD</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-influxdb/overview/' }}>InfluxDB</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-riemann/overview/' }}>Riemann</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-khronus/overview/' }}>Khronus</a></li>
              <li><a {{ page.url | sidebar_link: 'tree-toggler tree docs-level-two', '/documentation/0.6.x/kamon-opentsdb/overview/' }}>OpenTSDB</a></li>
            </ul>


            <div class="tree tree-toggler docs-level-one row align-items-center">
              <span>Recipes</span>
            </div>
          </section>
        </div>

      </div>
    </div>

    {% include footer.html %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/prism-typesafeconfig.js"></script>
    <script src="/assets/js/heading-links.js"></script>
    {% include google-analytics.html %}

  </body>
</html>
