<html lang="en">
  <head>
    {% include all-head.html %}
  </head>
  <body>
    {% include all-navbar.html %}
    {% include all-header.html %}

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-9 push-md-3">
          <div class="row align-items-center justify-content-end kamino-docs-top">
            <div>
                <a href="https://kamino.io">
                  <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/sponsored-by-kamino.svg">
                </a>
            </div>
          </div>
          <div class="row docs-content">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
          <!--<div class="row align-items-center kamino-docs-bottom">
            <div class="col-xs-offset-1 col-xs-5">
                <a href="http://kamino.io">
                  <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/sponsored-by-kamino.svg">
                </a>
                <a class="btn btn-sign-up btn-lg">Visit kamino.io</a>
            </div>
          </div>-->
        </div>

        <div class="col-12 col-md-3 pull-md-9 documentation-sidebar">
          {% include sidebar-general-topics.html %}
          {% include sidebar-module-content.html %}
          {% include sidebar-all-modules.html %}
        </div>

      </div>
    </div>

    {% include footer.html %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/tether.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/prism-typesafeconfig.js"></script>
    {% include google-analytics.html %}

  </body>
</html>
