name: Kamon - Tools for Reactive Applications Monitoring
description: Kamon Team Blog
markdown: kramdown
highlighter: pygments
permalink: /teamblog/:year/:month/:day/:title/
encoding: utf-8
code_examples_folder: '../_code_examples'
host: 0.0.0.0
excerpt_separator: "\n\n\n\n"


source: 'website'
plugins_dir: 'website/jekyll/plugins'
includes_dir: 'jekyll/includes'
layouts_dir: 'jekyll/layouts'
data_dir: 'jekyll/data'


destination: 'build'