# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Your awesome title
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll3

# Build settings
markdown: kramdown
kramdown:
  toc_levels: 2..2
  parse_block_html: true
highlighter: pygments
plugins:
  - jekyll-feed
  - jekyll-redirect-from

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - .metals

excerpt_separator: "\n\n\n"
code_examples_folder: examples
host: 0.0.0.0

pagination:
  enabled: true
  per_page: 6
  limit: 0
  sort_field: 'date'
  sort_reverse: true

autopages:
  enabled: false

# source: 'website'
# plugins_dir: 'website/jekyll/plugins'
# includes_dir: 'jekyll/includes'
# layouts_dir: 'jekyll/layouts'
# data_dir: 'jekyll/data'


# destination: 'build'