---
title: 'Welcome to the Kamon Blog'
description: 'Here we share updates about Kamon, stories from users and opinions about observability and monitoring'
layout: blog
permalink: /blog/
pagination:
  enabled: true
  permalink: /:num/
redirect_from:
  - /teamblog/
---
{% assign featured_post = site.tags.featured[0] %}

<div class="container post-list pt-5">
  {% if featured_post and paginator.page == 1 %}
    <div class="row py-4">
      <div class="col-12 col-lg-7 pr-5">
        <a href="{{ featured_post.url }}">
          <span class="featured-tag">FEATURED</span>
          <div class="mt-5">{{ featured_post.date | date: "%B %e, %Y" }}</div>
          <h1 class="">{{ featured_post.title }}</h1>
          <div class="mt-2 featured-excerpt">{{ featured_post.excerpt }}</div>
        </a>
      </div>
      <div class="col-12 col-lg-5 order-first order-lg-last pt-0 pt-lg-3">
        {% if featured_post.cover_image %}
        <a href="{{ featured_post.url }}">
          <img class="w-100 pt-0 pt-lg-5 mb-5 mb-lg-0" src="{{ featured_post.cover_image }}" alt="">
        </a>
        {% endif %}
      </div>
    </div>
  {% endif %}


  <div class="row">
    {% if paginator.page == 1 %}
      <div class="col-12 mt-6 mb-2">
        <span class="latest-posts-tag">LATEST POSTS</span>
      </div>
    {% endif %}


    {% for post in paginator.posts %}
      {% if post.title != featured_post.title %}
        <div class="col-12 col-lg-10 py-4 post-list-item">
          <a href="{{ post.url }}">
            <span>{{ post.date | date: "%B %e, %Y" }}</span>
            <h3>{{ post.title }}</h3>
            <div>
              {{ post.excerpt }}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row justify-content-between my-5">
    <div class="col-auto align-self-end">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | remove: 'index.html' }}">
          <span class="page-jumper"><i class="fas fa-angle-double-left fa-fw mr-2">Newer Posts</i></span>
        </a>
      {% endif %}
    </div>

      <div class="col-auto align-self-end">
          {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | remove: 'index.html' }}">
          <span class="page-jumper"><i class="fas fa-angle-double-right fa-fw ml-2">Older Posts</i></span>
        </a>
        {% endif %}
      </div>
  </div>

</div>




{% include footer-starter-cta.html %}
