---
title: 'Welcome to the Kamon Blog'
description: 'Here we share updates about Kamon, stories from users and opinions about observability and monitoring'
layout: default
permalink: /blog/
pagination:
  enabled: true
  permalink: /:num/
transparent_heading: true
footer_background: bg-lightest
redirect_from:
- /teamblog/
custom_css:
- pages/blog
---
{% assign featured_post = site.tags.featured[0] %}

<main>
  <div class="container-fluid dark-heading-background navbar-offset">
    {% if featured_post %}
    <div class="py-5">
      <div class="container">
        <section class="row">
          <div class="col-lg-6">
            <h1 class="text-white featured-post-title">{{ featured_post.title }}</h1>
            <p class="text-white featured-post-description mt-3">{{ featured_post.excerpt }}</p>
            <a class="btn btn-semi-large btn-primary mt-3" href="{{ featured_post.url }}">Read More</a>
          </div>
          <div class="col-lg-1">
  
          </div>
          <div class="col-lg-5">
            {% if featured_post.summary_image %}
              <img class="w-100 rounded-lg" src="{{ featured_post.summary_image }}" alt="Post summary image"/>
            {% endif %}
          </div>
        </section>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="container-fluid bg-lightest">
    <div class="container blog-posts-container">
      <div class="row">
        {% for post in site.posts %}
          {% if post.title != featured_post.title %}
            <div class="col-12 col-md-6 col-xl-4 py-3 blog-card js-blog-card invisible">
              <div class="elevated-container blog-card-content position-relative h-100">
                {% if post.summary_image %}
                <div class="blog-card-summary-image" style="background-image: url('{{ post.summary_image }}')"></div>
                {% else %}
                <div class="blog-card-summary-image {{ post.categories }}"></div>
                {% endif %}
                <div class="p-4 d-flex flex-column justify-content-between blog-card-text">
                  <h4 class="text-dark-1">{{ post.title }}</h4>
                  <div class="text-body-smaller text-dark-2">{{ post.excerpt }}</div>
                  <a class="arrow-link align-self-end mt-4 d-inline-block" href="{{ post.url }}">Read More</a>
                </div>
                <a class="grow-to-container" href="{{ post.url }}">
                  <span></span>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
          </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center w-100 px-4 pb-5 bg-lightest">
    <div class="btn btn-semi-large btn-outline-primary js-load-more load-more-button">
      Load More
    </div>
  </div>
</main>

<script src="/assets/js/blogs.js" defer></script>
