---
title: 'Welcome to the Kamon Blog'
description: 'Here we share updates about Kamon, stories from users and opinions about observability and monitoring'
layout: default
permalink: /blog/
transparent_heading: true
footer_background: bg-lightest
redirect_from:
- /teamblog/
custom_css:
- pages/blog
---
{% assign featured_post = site.tags.featured[0] %}

<main>
  <div class="container-fluid dark-heading-background navbar-offset">
    <div class="container">
      <section class="row">
        <div class="col-12">
          <h1 class="text-white">Welcome to our Blog!</h1>
          <p class="text-explainer text-lightest mt-3">
            Get our latest product updates, learn about observability and
            <br class="d-none d-md-inline">
            how to instrument, monitor, and debug systems with Kamon
          </p>
        </div>
      </section>
    </div>

    {% if featured_post %}
      <div class="container featured-blog-card">
        <section class="row elevated-container blog-card-content position-relative no-gutters p-0 ">
          <div class="col-12 col-lg-5 order-lg-last blog-card-summary-image"  style="background-image: url('{{ featured_post.summary_image }}')">

          </div>

          <div class="col-12 col-lg-7 p-5 my-lg-5">
            <h1>{{ featured_post.title }}</h1>
            <p class="featured-post-description mt-3">{{ featured_post.excerpt }}</p>
            <a class="arrow-link align-self-end mt-4 d-inline-block" href="{{ featured_post.url }}">Read More</a>
          </div>

          <a class="grow-to-container" href="{{ featured_post.url }}">
            <span></span>
          </a>
        </section>
      </div>
    {% endif %}
  </div>

  <div class="container-fluid bg-lightest blogpost-list">
    <div class="container pt-4 mt-5">
      <div class="row">
        {% for post in site.posts %}
          {% if post.title != featured_post.title and post.archived != true %}
            {% include post-card.html post=post %}
          {% endif %}
        {% endfor %}
          </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center w-100 px-4 py-5 bg-lightest">
    <div class="btn btn-semi-large btn-outline-primary js-load-more load-more-button">
      Load More
    </div>
  </div>
</main>

<script src="/assets/js/blogs.js" defer></script>
