---
layout: default
title: 'Instrument your services and get telemetry data that can be sent anywhere'
description: 'Battle-tested, free and open source tools for instrumenting distributed systems'
---

<div class="container">
  <div class="row hero no-gutters">
    <div class="col-12">
      <h1>
        Get ready to <span class="underline-green">instrument</span> your services <br class="d-none d-md-inline">
        in a few simple steps
      </h1>

      <h4 class="mt-3">
        It should take you just a couple minutes to setup Kamon in your service
      </h4>
    </div>
  </div>
</div>


<div class="w-100 background-gray skew-bottom-left">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 text-center">
        <h2 class="font-weight-normal mb-5">
          Step 1. Install Kamon in your Application
        </h2>
      </div>
      <div class="col-sm-12 col-lg-5">
        <div class="row no-gutters mb-5">
          <div class="col-12">
            <div id="plain-setup-steps-toggle" class="api-section-toggle elevation-feature active ">
              <h5>Plain Application</h5>
              These steps work with any application where you are in control of the "main" method,
              like most Akka, Akka HTTP and Spring Boot services
            </div>
            <div id="play-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>Play Framework Apps</h5>
              Follow these steps if you are instrumenting a Play Framework service
            </div>
            <div id="manual-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>Manual Instrumentation</h5>
              Start here if you just want to use the Kamon APIs to manually instruemnt a service
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-7 pt-2">
        <div id="get-started-options" class="row no-gutters code-window-container">
          <div class="col-12">
            <div id="plain-setup-steps">
              <div class="feature-description">
                Start by adding the Kamon Bundle dependency to your build. The bundle contains all
                available instrumentation in one single jar, so just copy this into your build:
              </div>

              {% include dependency-info.html module="kamon-bundle" version=site.data.versions.latest.bundle prefix="plain" showSbtPlugin=true %}

              <div class="feature-description">
                then, make sure that you initialize Kamon as the very first thing in your application
                by calling the <code>Kamon.init()</code> method.
              </div>

              {% include kamon-init.md version="latest" %}

              <div class="feature-description">
                That's it. This will take care of starting all modules and enabling instrumentation.
                Your are good to go now!
              </div>
            </div>

            <div id="play-setup-steps" class="d-none">
              <div class="feature-description">
                Start by adding the Kamon Bundle dependency to your build. The bundle contains all
                available instrumentation in one single jar, so just copy this into your build:
              </div>

              {% include kamon-play-dependency.md version="latest" %}

              <div class="feature-description">
                then, let's make sure that instrumentation will be working as expected when running on
                development mode using the SBT Kanela Runner plugin:
              </div>

              {% include kamon-play-plugin.md version="latest" %}


              <div class="feature-description">
                and finally, enable the <code>JavaAgent</code> plugin in your project to ensure that
                instrumentation will be working when running on production mode:
              </div>

              {% include kamon-play-enable-javaagent.md version="latest" %}

              <div class="feature-description">
                That's it. This will take care of starting all modules and enabling instrumentation.
                Your are good to go now!
              </div>
            </div>

            <div id="manual-setup-steps" class="d-none">
              <div class="feature-description">
                Start by adding the Kamon Core dependency to your build. The core library only contains the
                metrics, tracing and context propagation API. To get it, just copy this into your build:
              </div>

              {% include dependency-info.html module="kamon-core" prefix="manual" version=site.data.versions.latest.core %}

              <div class="feature-description">
                then, even though it is not really necessary, it might be really helpful to install the Status Page
                module and use it to inspect what metrics are being exposed:
              </div>

              {% include dependency-info.html module="kamon-status-page" prefix="manual-sp" version=site.data.versions.latest.core %}

              <div class="feature-description">
                and as last step, make sure that you initialize Kamon as the very first thing in your application
                by calling the <code>Kamon.init()</code> method.
              </div>

              {% include kamon-init.md version="latest" %}

              <div class="feature-description">
                That's it. This will take care of starting all modules and enabling instrumentation.
                Your are good to go now!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-8">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="font-weight-normal">
        Step 2. Verify the Installation
      </h2>
      <div class="feature-description mt-4 px-5">
        Once your instrumented service is started, you should be able to visit
        <strong><a href="http://localhost:5266/" target="_blank">localhost:5266</a></strong> and find Kamon's Status
        Page. If you confirm that instrumentation is active, everything should be ready working properly. It should look something like this:
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-12 col-lg-10 text-center">
      <img class="img-fluid" src="/assets/img/kamon-status-page.png" alt="Kamon Status Page">
    </div>
  </div>
</div>

<div class="w-100 background-gray skew-top-left mt-8 pb-5">
  <div class="container">
    <div class="row py-4">
      <div class="col-12 text-center">
        <h2 class="font-weight-normal mb-4">
          Step 3. Send out your data
        </h2>
        <div class="feature-description my-4 px-5">
          All reporter modules are just one extra dependency jar in your project, Kamon will automatically
          pick them up from the classpath and start them for you. You can add as many as you need.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-4 mb-5">
        <div class="row no-gutters justify-content-end">
          <div class="col-12">
            <div id="apm-setup-steps-toggle" class="api-section-toggle elevation-feature active ">
              <h5>Kamon APM</h5>
              Analyze your metrics and trace data with a solution specially crafted for Kamon
            </div>
            <div id="prometheus-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>Prometheus</h5>
              Expose a scrape endpoint for Prometheus to collect metrics data
            </div>
            <div id="zipkin-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>Zipkin</h5>
              Send Spans to Zipkin or any compatible receiver over the HTTP API
            </div>
            <div id="influxdb-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>InfluxDB</h5>
              Send metrics to directly to InfluxDB using the line protocol over HTTP
            </div>
            <div id="datadog-setup-steps-toggle" class="api-section-toggle elevation-feature">
              <h5>Datadog</h5>
              Send metrics and spans to Datadog using their agent or the public HTTP API
            </div>
          </div>
          <div class="col-auto">
            <a href="/docs/latest/reporters/">
              <div class="mt-4">
                <span class="ml-2 button button-ripple-green">
                  SEE ALL REPORTERS
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-8 pt-2">
        <div id="reporter-options" class="row no-gutters code-window-container pl-3">
          <div class="col-12">
            <div id="apm-setup-steps">
              <div class="feature-description mt-3">
                Just add the Kamon APM reporter dependency to your build:
              </div>
              {% include dependency-info.html module="kamon-apm-reporter" version=site.data.versions.latest.apm prefix="apm" %}
              <div class="feature-description">
                and make sure that you include your service name and API key in
                your <code>application.conf</code> file:
              </div>

              <pre class="mt-3 line-numbers language-scala">
                <code>
                  kamon.environment {
                    service = "My Service Name"
                  }

                  kamon.apm {
                    api-key = "abcdefghijklmnopqrstuvwxyz"
                  }
                </code>
              </pre>

              <div class="feature-description mt-3">
                You are done! Next time your app starts, Kamon will automatically pick up the
                reporter and start sending data to Kamon APM.
              </div>

              <div class="text-right">
                <div class="feature-description d-inline-block">
                  Don't have an account yet?
                </div>
                <a href="https://apm.kamon.io/signup" target="_blank">
                  <div class="text-left ml-4 mt-4 mb-5 d-inline-block">
                    <span class="button button-ripple-blue">
                      SIGN UP NOW
                    </span>
                  </div>
                </a>
              </div>
            </div>

            <div id="prometheus-setup-steps" class="d-none">
              <div class="feature-description mt-3">
                Just add the Prometheus Reporter dependency to your build:
              </div>
              {% include dependency-info.html module="kamon-prometheus" version=site.data.versions.latest.prometheus prefix="prometheus" %}
              <div class="feature-description">
                and you might want to customize the host and port where the embedded server
                listens in your <code>application.conf</code> file:
              </div>

              <pre class="mt-3 line-numbers language-scala">
                <code>
                  kamon.prometheus {
                    embedded-server {
                      hostname = 0.0.0.0
                      port = 9095
                    }
                  }
                </code>
              </pre>

              <div class="feature-description mt-3">
                You are done! Next time your app starts, Kamon will automatically pick up the
                reporter and expose the scrape endpoint
                at <a href="http://localhost:9095/" target="_blank"><strong>localhost:9095</strong></a>
                (or wherever you configured it).
              </div>
            </div>

            <div id="zipkin-setup-steps" class="d-none">
              <div class="feature-description mt-3">
                Just add the Zipkin Reporter dependency to your build:
              </div>
              {% include dependency-info.html module="kamon-zipkin" version=site.data.versions.latest.zipkin prefix="zipkin" %}
              <div class="feature-description">
                and you might want to configure the host and port where Zipkin is listening in
                your <code>application.conf</code> file:
              </div>

              <pre class="mt-3 line-numbers language-scala">
                <code>
                  kamon.zipkin {
                    hostname = localhost
                    port = 9411
                  }
                </code>
              </pre>

              <div class="feature-description mt-3">
                You are done! Next time your app starts, Kamon will automatically pick up the
                reporter and send Spans to Zipkin.
              </div>
            </div>

            <div id="influxdb-setup-steps" class="d-none">
              <div class="feature-description mt-3">
                Just add the InfluxDB Reporter dependency to your build:
              </div>
              {% include dependency-info.html module="kamon-influxdb" version=site.data.versions.latest.influxdb prefix="influxdb" %}
              <div class="feature-description">
                and you might want to configure the host, port and database to which data is sent in
                your <code>application.conf</code> file:
              </div>

              <pre class="mt-3 line-numbers language-scala">
                <code>
                  kamon.influxdb {
                    hostname = localhost
                    port = 8086
                    database = "mydb"
                  }
                </code>
              </pre>

              <div class="feature-description mt-3">
                You are done! Next time your app starts, Kamon will automatically pick up the
                reporter and send metrics to InfluxDB.
              </div>
            </div>

            <div id="datadog-setup-steps" class="d-none">
              <div class="feature-description mt-3">
                Just add the Datadog Reporter dependency to your build:
              </div>
              {% include dependency-info.html module="kamon-datadog" version=site.data.versions.latest.datadog prefix="datadog" %}
              <div class="feature-description">
                and you might want to configure the host, port and database to which data is sent in
                your <code>application.conf</code> file:
              </div>

              <pre class="mt-3 line-numbers language-scala">
                <code>
                  kamon.datadog {
                    agent {
                      hostname = localhost
                      port = 9411
                    }

                  }
                </code>
              </pre>

              <div class="feature-description mt-3">
                You are done! Next time your app starts, Kamon will automatically pick up the
                reporter and send metrics and spans to the Datadog Agent.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-6">
  <div class="row">
    <div class="col-12 col-lg-6 text-center mb-5">
      <h2 class="font-weight-normal">
        Having Trouble?
      </h2>
      <div class="feature-description mt-4 px-5">
        If something went wrong during your setup, you have some feature request or in general
        just want to hang out with the folks and talk about the experience, head over to our Gitter
        channel and say it all.
      </div>
      <div class="feature-description mt-4">
        <a href="https://gitter.im/kamon-io/Kamon" target="_blank">
          <img src="/assets/img/gitter.svg" style="max-height: 52px;" class="mr-3" alt="Gitter Chat">
          Jump to the Gitter Chat
        </a>
      </div>

    </div>

    <div class="col-12 col-lg-6 text-center">
      <h2 class="font-weight-normal">
        Next Steps
      </h2>
      <div class="feature-description mt-4 px-5">
        If you want to dig deeper into what metrics are exposed by the instrumention, how to create your
        own business metrics or configure reporters, head over to the documentation to learn more.
      </div>
      <div class="feature-description mt-4">
        <a href="/docs/latest/overview/">
          <div style="line-height: 52px;">
            <i class="fas fa-book fa-fw fa-3x mr-3 text-color-subtitle" style="vertical-align: middle;"></i>
            Jump to the Docs
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


{% include footer-starter-cta.html %}