---
layout: default
title: 'Automatically instrument, monitor and debug distributed systems'
description: 'Kamon provides a set of tools to go from zero to a healthy and observable production deployment'
---


<div class="background-top-gray-gray"></div>
<div class="homepage-background-right"></div>
<div class="homepage-background-left"></div>
<div class="d-none d-xl-block homepage-background-bottom"></div>

<main class="default-content-container homepage-container">

  <a href="/legal/eu-project/">
    <img class="eu-icon" src="/assets/img/pages/homepage/EU-link.svg" alt="EU icon"/>
  </a>

  <section>
    <div class="row flex-row-reverse mt-5">
      <div class="col-12 col-xl-5">
        <img class="page-illustration main-homepage-illustration large-screen-bigger" src="/assets/img/pages/homepage/homepage-illustration-1.svg" alt="Monitoring illustration"/>
      </div>
      <div class="col-12 col-xl-7 d-flex align-items-start">
        <div>
          <p class="text-display-2">Start Monitoring<br/>in <span class="text-primary">3 Minutes</span></p>
          <p>
            Kamon helps developers find and fix performance issues in <br>
            Akka and Play Framework microservices
          </p>
          <a class="btn btn-primary btn-lg w-sm-100 onboarding-start-button" href="#">Start Monitoring Free</a>
          <p class="text-small mt-3 ml-1">
            No credit card required
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="text-center">
      <h5 class="mb-3">Join hundreds of developers monitoring microservices with Kamon</h5>
      {% include user-logos.html %}
    </div>
  </section>

  <section class="row no-gutters">
    <div class="col-12 col-xl-7">
      <h1>
        Microservices are complex.
        Monitoring them shouldn't be.
      </h1>
      <p class="my-3 w-xl-80">
        Kamon was created with microservices in mind, to help monitor
        and debug complex distributed systems in a single platform.
      </p>
      <div class="mt-5">
        <div class="mt-3">
          <img src="/assets/img/pages/homepage/icon-clock.svg" alt="Clock Icon">
          <span class="text-lead ml-2">Discover what your microservices actually do in production</span>
        </div>
        <div class="mt-3">
          <img src="/assets/img/pages/homepage/icon-dashboard.svg" alt="Clock Icon">
          <span class="text-lead ml-2">Get alerted when something important goes wrong</span>
        </div>
        <div class="mt-3">
          <img src="/assets/img/pages/homepage/icon-code.svg" alt="Clock Icon">
          <span class="text-lead ml-2">Find root causes in a few clicks</span>
        </div>
        <div class="mt-3">
          <img src="/assets/img/pages/homepage/icon-smile.svg" alt="Clock Icon">
          <span class="text-lead ml-2">Optimize your end-users' experience</span>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-xl-5 mt-5 mt-xl-0 d-flex align-items-center">
      <video autoplay loop class="homepage-video">
        <source src="/assets/video/apm-quick-walkthrough.mp4" type="video/mp4">
        Sorry, your browser does not support embedded videos.
      </video>
    </div> -->
  </section>

  <section>
    <div class="text-center">
      <h2 class="d-inline-block w-md-75">You are 3 steps away from a full monitoring stack:</h2>
      <div class="row mt-5 flex-column flex-md-row justify-content-center">
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
          <div>
            <img class="image-100-auto" src="/assets/img/pages/homepage/step-illustration-create.svg" alt="Create account step illustration">
          </div>
          <h5 class="text-dark-1 mb-1">Create your Free Account</h5>
          <p >Monitor up to 5 <br>microservices for Free</p>
          <div class="d-flex justify-content-center">
            <div class="step-circle">
              <h5 class="text-dark-1">1</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-1">
          <hr class="d-none d-md-block steps-horizontal-line"/>
          <div class="d-md-none steps-vertical-line text-center mt-5">
            <div></div>
          </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
          <div>
            <img class="image-100-auto" src="/assets/img/pages/homepage/step-illustration-instrument.svg" alt="Instrument services step illustration">
          </div>
          <h5 class="text-dark-1 mb-1">Instrument your services</h5>
          <p>Add a couple lines of code to enable instrumentation</p>
          <div class="d-flex justify-content-center">
            <div class="step-circle">
              <h5 class="text-dark-1">2</h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-1">
          <hr class="d-none d-md-block steps-horizontal-line"/>
          <div class="d-md-none steps-vertical-line text-center mt-5">
            <div></div>
          </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
          <div>
            <img class="image-100-auto" src="/assets/img/pages/homepage/step-illustration-kamon.svg" alt="Start monitoring step illustration">
          </div>
          <h5 class="text-dark-1 mb-1">Start monitoring!</h5>
          <p>Explore your metrics and traces with out of the box integrations</p>
          <div class="d-flex justify-content-center">
            <div class="step-circle">
              <h5 class="text-dark-1">3</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a class="btn btn-primary btn-lg w-sm-100 onboarding-start-button" href="#">Start Monitoring Free</a>
    </div>
  </section>

  <section>
    {% include user-quotes.html dark-background=true %}
  </section>

  <section class="row no-gutters">
    <div class="col-12 col-xl-6">
      <h1>The Kamon <span class="text-primary">Stack</span></h1>
      <p>
        Go <b>from zero to a healthy and observable production deployment</b> with the Kamon Stack.
        Kamon Telemetry and APM are built to work hand in hand with a single goal: solve your observability pains.
      </p>

      <div class="elevated-container p-4 mt-5 position-relative">
        <div class="kamon-stack-icon-container">
          <img class="image-100-auto" src="/assets/img/kamon/kamon-apm-icon-light.svg" alt="Kamon APM Icon"/>
        </div>
        <h3>Kamon APM</h3>
        <p class="text-body-smaller w-75">
          Monitor and debug microservices with <b>built-in visualizations and alerting</b> on the signals that matter.
        </p>
        <a class="arrow-right" href="/apm/">
          More About APM
        </a>
        <a class="container-link" href="/apm/"></a>
      </div>

      <div class="elevated-container p-4 mt-5 position-relative">
        <div class="kamon-stack-icon-container">
          <img class="image-100-auto" src="/assets/img/kamon/kamon-telemetry-icon-light.svg" alt="Kamon APM Icon"/>
        </div>
        <h3>Kamon Telemetry</h3>
        <p class="text-body-smaller w-75">
          Battle-tested and open-source instrumentation for <b>Akka, Play Framework</b> and other <b>JVM</b> microservices
        </p>
        <a class="arrow-right" href="/telemetry/">
          More About Telemetry
        </a>
        <a class="container-link" href="/telemetry/"></a>
      </div>
    </div>
    <div class="col-12 col-xl-6 d-none d-xl-flex align-content-end">
      <img class="page-illustration secondary-homepage-illustration" src="/assets/img/pages/homepage/homepage-illustration-2.svg" alt="Monitoring Illustration"/>
    </div>
  </section>
</main>
