---
---

html {
  font-size: 16px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: justify;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.vertical-center {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.kamon-navbar {
  margin-bottom: 0px;
}

.kamon-logo-image {
  height: 52px;
  max-width: 100%;
  margin: 12px 0px;
}

.navbar-links {
  font-size: 16px;
}

.navbar-links a {
  color: #676767;
  text-decoration: none;
}

.navigation-links {
  font-size: 1rem;
  font-weight: bold;
  color: #8a8c8b;
  padding-left: 5px;
  padding-right: 15px;

  a {
    color: #8a8c8b;
  }
}

.jumbotron-top {
  background: url('/assets/img/jumbotron-top-background.png') center top no-repeat;
  background-size: cover;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.70);

  padding-top: 30px;
  padding-bottom: 30px;

  h2 {
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.jumbo-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-left: 2rem;
}

.jumbotron-bottom {
  margin-top: 3rem;
  background: url('/assets/img/jumbotron-top-background.png') center top no-repeat;
  background-size: cover;
  height: 4rem;

  h4 {
    color: white;
    font-weight: bolder;
  }
}

.vertical-padding-15 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.no-padding {
  padding: 0px;
}

.fill-height { 
    min-height: 100%;
    height: 100%;
}

.docs-content {
  padding-top: 20px;
}

.documentation-sidebar {
  padding-top: 0.5rem;
  text-align: left;
  ul {
    list-style-type: none;
    padding: 0px 0px 0px 8px;
    
  }

  li {
    display: list-item;
  }
}

.docs-level-one {
  color: white;
  background-color:#12aa40;
  padding: 5px 10px;
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0px 0px 5px 0px;

  .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: white;
  }
}

.docs-level-two {
  font-size: 1.3rem;
  color: #4e775c;
  padding: 6px 5px;
  display: block;
  margin: 0px;
  list-style: none;
}

.docs-level-three {
  font-size: 1rem;
  color: #5b675f;
  padding: 4px 5px;
  display: block;
  margin: 0px;
  list-style: none;
}

.caret-margin {
  margin-right: 7px;
}

.version-dropdown {
  display: inline;

  a, a:active, a:hover {
    background-color: transparent;
  }
}

.version-selector {
  height: 60px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  background-color: #f6f6f6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  h5 {
    margin-bottom: 0px;
  }
}

.kamino-docs-top {
  //background: url('/assets/img/sponsored-by-kamino-top-background.svg') center top no-repeat;
  //background-size: cover;

  img {
    margin: 0px 15px;
    height: 5rem;
  }
}

.kamino-docs-bottom {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: url('/assets/img/sponsored-by-kamino-bottom-background.png') center top no-repeat;
  background-size: cover;
}

code {
  color: #12aa40;
  font-weight: normal;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f4fafa;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'Roboto Mono', monospace;
}

pre[class*="language-"] {
  margin: 0px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.code-example {
  margin-bottom: 16px;
  font-weight: bold;

  .nav-link {
    border: 0px;
    border-radius: 0px;
    color: white;
    background-color: #a5a5a5;
  }

  .nav-link.active {
    border: 0px;
    border-radius: 0px;
    color: white;
    background-color: #12aa40;
  }
}

.btn-sign-up {
  margin-top: 20px;
  color: #eee;
  background-color: #14c4b4;
  font-size: 1.5rem;
  font-weight: bolder;
  border: none;
}

.post-summary {
  padding: 2rem;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(169, 169, 169, 0.61);

  a, a:active, a:hover, a:focus {
    color: #292b2c;
  }

  .read-more {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #12aa40;
  }

  .date {
    font-size: 16px;
  }
}

.blog-sidebar {
  padding: 0rem 0rem;
  text-align: left;

  a, a:active, a:hover, a:focus {
    color: rgba(17, 97, 50, 0.83);
  }

  h4 {
    font-size: 1.1rem;
  }

  .date {
    font-size: 0.9rem;
  }
  .recent-post {
    padding: 1rem;
  }

  .sponsored-by-kamino {
    margin-bottom: 3rem;
    //background-color: #efefef;
  }

  .sidebar-title {
    color: white;
    background-color: #12aa40;
    padding: 5px 10px;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
  }
}

.post-content {
  padding: 1rem;

  .post-heading {
    font-size: 0.9rem;
  }

  .icon {
    color: #129e3e;
    padding-left: 5px;
    padding-right: 5px;
  }

  .heading-item {
    font-size: 19px;
    padding-right: 2rem;
  }
}