<div class="blog-sidebar">
  <h3 class="sidebar-title">Tags</h3>
  <p>
    <a href="#" class="tag">Kamon</a><a href="#" class="tag">Akka</a><a href="#" class="tag">StatS Module</a><a href="#" class="tag">Kamon</a><a href="#" class="tag">Kamon</a>
  </p>
</div>
<div class="blog-sidebar">
  <h3 class="sidebar-title">Popular Posts</h3>
  <ul class="list-unstyled">
    <li><a href="#" class="sidebar-post">Kamon 0.2.5/0.3.5 has Landed!</a></li>
    <li><a href="#" class="sidebar-post">Experimental support for Akka Remoting and Cluster is now available!</a></li>
    <li><a href="#" class="sidebar-post">Bugfix Release - Kamon 0.3.4/0.2.4 is out!</a></li>
  </ul>
</div>
