<div class="code-example my-3 code-example-with-copy">
<ul class="nav nav-pills language-tab tab-header" role="tablist">
<li class="nav-item cursor-pointer active"><a class="nav-link btn btn-secondary btn-sm language-btn active show" data-toggle="tab" data-target="#{{ include.prefix }}_sbt_library" role="tab" aria-selected="false">SBT</a></li>
<li class="nav-item cursor-pointer"><a class="nav-link btn btn-secondary btn-sm language-btn" data-toggle="tab" data-target="#{{ include.prefix }}_maven_library" role="tab" aria-selected="false">Maven</a></li>
<li class="nav-item cursor-pointer"><a class="nav-link btn btn-secondary btn-sm language-btn" data-toggle="tab" data-target="#{{ include.prefix }}_gradle_library" role="tab" aria-selected="true">Gradle</a></li>
</ul>
<div class="tab-content">

<div class="tab-pane show active" id="{{ include.prefix }}_sbt_library" role="tabpanel" aria-labelledby="sbt">
<div>
<pre class="line-numbers language-scala">
<code class="language-scala">
libraryDependencies += "io.kamon" %% "{{ include.module }}" % "{{ include.version }}"
{% if include.showSbtPlugin %}
// If you want to be able to run yor app with instrumentation
// from SBT, add this to your project/plugins.sbt file:
addSbtPlugin("io.kamon" % "sbt-kanela-runner" % "{{ site.data.versions.latest.kanela_runner }}")
{% endif %}
</code>
</pre>
</div>
</div>

<div class="tab-pane" id="{{ include.prefix }}_maven_library" role="tabpanel" aria-labelledby="sbt">
<div>
<pre class="line-numbers language-xml">
<code class="language-xml">
    &lt;dependency>
      &lt;groupId>io.kamon&lt;/groupId>
      &lt;artifactId>{{ include.module }}_2.12&lt;/artifactId>
      &lt;version>{{ include.version }}&lt;/version>
    &lt;/dependency>
</code>
</pre>
</div>
</div>

<div class="tab-pane" id="{{ include.prefix }}_gradle_library" role="tabpanel" aria-labelledby="sbt">
<div>
<pre class="line-numbers language-groovy">
<code class="language-groovy">
implementation 'io.kamon:{{ include.module }}_2.12:{{ include.version }}'
</code>
</pre>
</div>
</div>

</div>
<div class="tab-footer"><div class="fa fa-copy"></div></div>
</div>
