{% assign path_sections = page.url | split: '/' %}
{% assign current_version = path_sections[2] %}

<div class="dropdown dropdown-docs">
  <div id="docs-version-select-toggle" class="dropdown-toggle cursor-pointer" data-toggle="dropdown" tabindex=0>
    <span class="text-capitalize text-light">{{ current_version }} Docs</span>
  </div>
  <div class="dropdown-menu cursor-pointer" aria-labelledby="docs-version-select-toggle">
    <a tabindex=0 class="dropdown-item" id="version-latest" onclick="changeVersion('latest')">Kamon 2.x <small>latest</small></a>
    <a tabindex=1 class="dropdown-item" id="version-v1" onclick="changeVersion('v1')">Kamon 1.x</a>
  </div>
</div>

{% include docs-extract-paths.html %}

<script>
  function changeVersion(versionName) {
    var currentPathNameParts = window.location.pathname.split("/");
    currentPathNameParts.shift();
    currentPathNameParts.shift();
    var currentVersion = currentPathNameParts.shift();
    var exactCurrentSection = currentPathNameParts.join("/");

    if (currentVersion === versionName) {
      return;
    }

    if (exactCurrentSection === "overview/" || exactCurrentSection === "overview") {
      window.location.pathname = "/docs/" + versionName + "/overview/";
      return;
    }

    var documentationPaths = versionName === "latest" ? window.kamonDocumentationPaths.latest : window.kamonDocumentationPaths.v1

    var exactLinkExists = documentationPaths.some(function(path) { return path.link === "/" + exactCurrentSection; });
    var goToSection = exactLinkExists ? exactCurrentSection : "/" + exactCurrentSection.split("/")[0];
    window.location.pathname = "/docs/" + versionName + "/" + goToSection;
  }

  document.addEventListener("readystatechange", function() {
    function getListenerForVersion(version) {
      return function(event) {
        if (event.code === "Enter" || event.keyCode === 13) {
          changeVersion(version)
        }
      }
    }

    var latest = document.getElementById("version-latest")
    var v1 = document.getElementById("version-v1")

    latest.addEventListener("keyup", getListenerForVersion("latest"));
    v1.addEventListener("keyup", getListenerForVersion("v1"));
  })
</script>
