{% assign path_sections = page.url | split: '/' %}
{% assign current_version = path_sections[2] %}

<div class="elevated-container text-center d-flex flex-column justify-content-between h-100 p-4 position-relative">
  <div>
    <img src="{{ include.icon }}" alt="{{ include.alt }}">
    <div class="text-left mt-3">
      <h2>
        {{ include.title }}
      </h2>
      <p>
        {{ include.text }}
      </p>
    </div>
  </div>
  <a
    class="arrow-link align-self-end"
    href="{% if include.outer_link %}{{ include.link }}{% else %}/docs/{{ current_version }}{{ include.link }}{% endif %}"
    target="{% if include.outer_link %}_blank{% endif %}"
  >
    Learn More
  </a>

  <a href="{% if include.outer_link %}{{ include.link }}{% else %}/docs/{{ current_version }}{{ include.link }}{% endif %}"
     target="{% if include.outer_link %}_blank{% endif %}"
     class="grow-to-container"
  ><span></span></a>
</div>
