<div id="doc-tree">
  <ul class="dosc-sidebar">
    <li>
      <label class="tree-toggler tree docs-level-one">Introduction</label>
      <ul class="tree">
        <li><a class="docs-level-three" href="/introduction/overview/">Overview</a></li>
        <li><a class="docs-level-three" href="/introduction/get-started/">Get Started</a></li>
        <li><a class="docs-level-three" href="/introduction/configuration/">Configuration</a></li>
      </ul>

      <ul class="tree">
        <li>
          <label class="tree-toggler tree docs-level-two">Project Information</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/introduction/project-info/acknowledgments/">Acknowledgments</a></li>
            <li><a class="docs-level-three" href="/introduction/project-info/license/">License</a></li>
            <li><a class="docs-level-three" href="/introduction/project-info/changelog/">Changelog</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <label class="tree-toggler tree docs-level-one">Core Components</label>
      <ul class="tree">
        <li>
          <label class="tree-toggler tree docs-level-two">Metrics</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/core/metrics/core-concepts/">Core Concepts</a></li>
            <li><a class="docs-level-three" href="/core/metrics/instruments/">Instruments</a></li>
            <li><a class="docs-level-three" href="/core/metrics/recording-metrics/">Recording Metrics</a></li>
            <li><a class="docs-level-three" href="/core/metrics/subscription-protocol/">Subscription Protocol</a></li>
          </ul>
        </li>
        <li><label class="tree-toggler tree docs-level-two">Tracing</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/core/tracing/core-concepts/">Core Concepts</a></li>
            <li><a class="docs-level-three" href="/core/tracing/trace-context-manipulation/">TraceContext Manipulation</a></li>
            <li><a class="docs-level-three" href="/core/tracing/threading-model-considerations/">Threading Model Considerations</a></li>
            <li><a class="docs-level-three" href="/core/tracing/trace-metrics/">Trace Metrics</a></li>
            <li><a class="docs-level-three" href="/core/tracing/subscription-protocol/">Subscription Protocol</a></li>
          </ul>
        </li>
        <li><label class="tree-toggler tree docs-level-two">Modules</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/core/modules/using-modules/">Using Modules</a></li>
            <!-- <li><a class="docs-level-three" href="/core/creating-modules/reporting-modules/">Reporting Modules</a></li> -->
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <label class="tree-toggler tree docs-level-one">Integrations</label>
      <ul class="tree">
        <li>
          <label class="tree-toggler tree docs-level-two">Logback</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/logback/trace-token-converter/">Trace Token Converter</a></li>
            <!-- <li><a class="docs-level-three" href="/integrations/logback/mdc-in-an-asyncronous-environment/">MDC in an Asynchronous Environment</a></li> -->
          </ul>
        </li>
        <li>
          <label class="tree-toggler tree docs-level-two">Scala</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/scala/automatic-trace-context-propagation-with-futures/">Automatic TraceContext Propagation with Futures</a></li>
          </ul>
        </li>
        <li>
          <label class="tree-toggler tree docs-level-two">Akka</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/akka/overview/">Overview</a></li>
            <li><a class="docs-level-three" href="/integrations/akka/actor-router-and-dispatcher-metrics/">Actor, Router and Dispatcher Metrics</a></li>
            <li><a class="docs-level-three" href="/integrations/akka/automatic-trace-context-propagation/">Automatic TraceContext Propagation</a></li>
            <li><a class="docs-level-three" href="/integrations/akka/ask-pattern-timeout-warning/">Ask Pattern Timeout Warning</a></li>
          </ul>
        </li>
        <li>
          <label class="tree-toggler tree docs-level-two">Annotation</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/annotation/using-annotations/">Using Annotations</a></li>
          </ul>
        </li>
        <li>
          <label class="tree-toggler tree docs-level-two">Web &amp; HTTP Toolkits</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/web-and-http-toolkits/base-functionality/">Base Functionality</a></li>
            <li><a class="docs-level-three" href="/integrations/web-and-http-toolkits/spray/">Spray</a></li>
            <li><a class="docs-level-three" href="/integrations/web-and-http-toolkits/play/">Play Framework</a></li>
          </ul>
        </li>
        <li>
          <label class="tree-toggler tree docs-level-two">System Metrics</label>
          <ul class="tree">
            <li><a class="docs-level-three" href="/integrations/system-metrics/system-and-jvm-metrics/">System &amp; JVM Metrics</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <label class="tree-toggler tree docs-level-one">Backends</label>
      <li>
        <label class="tree-toggler tree docs-level-two">Supported Metric Backends</label>
        <ul class="tree">
          <li><a class="docs-level-three" href="/backends/log-reporter/">LogReporter</a></li>
          <li><a class="docs-level-three" href="/backends/statsd/">StatsD</a></li>
          <li><a class="docs-level-three" href="/backends/newrelic/">New Relic</a></li>
          <li><a class="docs-level-three" href="/backends/datadog/">Datadog</a></li>        </ul>
      </li>
    </li>
  </ul>
</div><!-- /#docs-tree -->
