<nav class="navbar navbar-default kamon-navbar">
  <div class="container">
    <div class="row middle-xs vertical-padding-15">
      <div class="col-xs-3">
          <a href="http://kamon.io">
            <img class="kamon-logo-image" alt="Kamon" src="/assets/img/kamon-logo-latest.svg">
          </a>
      </div>

      <div class="col-xs-9">
        <div class="row middle end-xs navigation-links">
          <a href="http://kamon.io">
            <span class="nav-link">DOCUMENTATION</span>
          </a>
          <a href="http://kamon.io/teamblog/">
            <span class="nav-link">BLOG</span>
          </a>
          
          <span style="border-right: 1px; border-right-style: solid; margin: 0px 15px;"></span>

          <a href="https://twitter.com/kamonteam">
            <i class="fa fa-twitter fa-lg nav-icon" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/kamon-io/Kamon">
            <i class="fa fa-github fa-lg nav-icon" aria-hidden="true"></i>
          </a>
          <a href="http://kamon.io/teamblog/rss/">
            <i class="fa fa-rss fa-lg nav-icon" aria-hidden="true"></i>
          </a>
          <a href="https://groups.google.com/forum/#!forum/kamon-user">
            <i class="fa fa-envelope fa-lg nav-icon" aria-hidden="true"></i>
          </a>
          
        </div>
      </div>
    </div>

  </div>
</nav>

<div class="hero jumbotron-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h2>Documentation</h2>
      </div>
    </div>
  </div>
</div>