<div class="header">
  <a href="https://github.com/kamon-io/Kamon" class="git-fork"></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo-wrap"><a class="logo" href="/"><img src="/assets/img/kamon-logo.svg" alt="logo" width="180" /></a></div>
      </div>
      <div class="col-sm-8">
        <ul class="navigation">
          <li>
            <a class="btn btn-nav btn-primary" href="/introduction/overview/">Docs</a>
          </li>
          <li>
            <a class="btn btn-nav btn-inverse" href="/teamblog/">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- /.header -->
<div class="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span class="upper white"><strong>Documentation</strong></span>
      </div>
    </div>
  </div>
</div>
