<div class="eu-project-info">
  <div class="row no-gutters pr-4">
    <img class="col-auto" style="height: 140px;" src="/assets/img/eu-project/EU.PNG" alt="European Union">
    <div class="col-auto">
      <div class="row">
        <a class="col-auto pt-2" href="https://strukturnifondovi.hr/">
          <img style="max-height: 95px;" src="/assets/img/eu-project/ESIF.PNG" alt="European Union">
        </a>
        <a class="col-auto  pt-2" href="https://strukturnifondovi.hr/eu-fondovi/esi-fondovi-2014-2020/op-konkurentnost-i-kohezija/">
          <img style="max-height: 90px;" src="/assets/img/eu-project/OPKK.PNG" alt="European Union">
        </a>
      </div>
      <div class="row">
        <div class="col text-center">
          Projekt je sufinancirala Europska unija iz Europskog fonda za regionalni razvoj. <a class="learn-more" href="/legal/eu-project/">Saznajte više</a>
        </div>
      </div>
    </div>
  </div>

</div>