<footer>
  <div class="container-fluid bg-lightest">
    <div class="container py-6">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-center">
          <div class="h1 text-dark-1 mb-4">
            Remember: tailing the logs 
            <br class="d-md-none">
            is not enough
          </div>
          <div class="lead text-dark-1">
            You know it. Your colleagues know it. Then, what are you waiting for? Stop wasting 
            time in complicated workflows and start solving problems today with Kamon APM.
          </div>
          <div class="mt-4">
            <a class="btn btn-cta btn-primary shadow w-100-sm-down mr-3" data-toggle="modal" data-target="#apmOnboardingModal">
              Start with a FREE account
            </a>
            <div class="py-3 text-center text-sm-left d-sm-inline">
              <a class="plain-link" href="/apm/">
                Learn more about APM
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-dark-background">
    <div class="container pt-5">
      <div class="row no-gutters justify-content-between">
        <div class="col-12 col-lg-3 pt-3">
          <a class="navbar-brand" href="/">
            <img src="/assets/img/kamon/kamon-logo-dark.svg" width="250" height="64" loading="eager" alt="Kamon">
          </a>
          <div class="lead text-white pl-2 mt-2 mb-6">
            Observability Tools for<br>
            Developers, not DevOps.
          </div>
        </div>
  
        <div class="col-12 col-lg-9 my-3">
          <div class="row pl-lg-5">
            <div class="col-4 col-lg-3 pr-5 mb-5">
              <div class="text-white h6 mb-3">PRODUCT</div>
              <div>
                <a class="d-block my-2 text-lightest" href="/apm/">APM</a>
                <a class="d-block my-2 text-lightest" href="/telemetry/">Telemetry</a>
                <a class="d-block my-2 text-lightest" href="/apm/pricing/">Pricing</a>
              </div>
            </div>
  
            <div class="col-8 col-lg-5 pl-5 mb-5">
              <div class="text-white h6 mb-3">SOLUTIONS</div>
              <div>
                <a class="d-block my-2 text-lightest" href="/solutions/monitoring-for-akka/">Monitoring for Akka</a>
                <a class="d-block my-2 text-lightest" href="/solutions/monitoring-for-play-framework/">Monitoring for Play</a>
                <a class="d-block my-2 text-lightest" href="/solutions/monitoring-for-spring-boot/">Monitoring for Spring Boot</a>
              </div>
            </div>
  
            <div class="col-4 col-lg-4 pr-5 mb-5">
              <div class="text-white h6 mb-3">RESOURCES</div>
              <div>
                <a class="d-block my-2 text-lightest" href="/docs/latest/guides/">Documentation</a>
                <a class="d-block my-2 text-lightest" href="/blog/">Blog</a>
                <a class="d-block my-2 text-lightest" href="https://github.com/kamon-io/Kamon/discussions" target="_blank">Support</a>
              </div>
            </div>
  
            <div class="col-7 col-lg-3 pl-5 pl-lg-3 mb-5">
              <div class="text-white h6 mb-3">COMPANY</div>
              <div>
                <a class="d-block my-2 text-lightest" href="/about/">About Us</a>
                <a class="d-block my-2 text-lightest" href="/legal/privacy/">Privacy Policy</a>
                <a class="d-block my-2 text-lightest" href="/legal/subscription-agreement/">Terms of Service</a>
              </div>
            </div>
  
            <div class="col-12 col-lg-8 pr-5 pl-lg-5 mb-5">
              <div class="text-white h6 mb-3">SUPPORTED BY</div>
              <a href="https://filrougecapital.com/" target="_blank">
                <img class="d-inline my-4 mr-5 align-top" height="48" src="/assets/img/icons/external-brand-and-logo/frc.png" alt="Fil Rouge Capital Logo">
              </a>
              <a href="https://strukturnifondovi.hr/" target="_blank">
                <img class="d-inline my-4 align-top" height="64" src="/assets/img/icons/external-brand-and-logo/esif.png" alt="European Structural and Investment Fund Logo">
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 my-2 text-white">&copy; {{ 'now' | date: "%Y" }} All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
