<div class="w-100 background-blue signup-cta mt-6 mb-5 mb-md-0 pb-5 pb-md-2">
    <div class="container">
      <div class="row py-5 py-md-4">
        <div class="col-sm-12 text-center">
          <h2 class="text-color-alternate-heading font-weight-normal">
            Monitor for free with a Starter account, <br class="d-none d-md-inline">no credit card required
          </h2>

          <div class="text-center my-5">
            <span class="button button-ripple-orange">
              START MONITORING
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>