<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="text-center upper">
          Get in touch
        </p>
        <p class="text-center">
          <a href="https://twitter.com/kamonteam" class="social-icon"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/kamon-io/Kamon" class="social-icon"><i class="fa fa-2x fa-git"></i></a>
          <a href="/teamblog/rss/" class="social-icon"><i class="fa fa-rss"></i></a>
          <a href="https://groups.google.com/forum/#!forum/kamon-user" class="social-icon"><i class="fa fa-envelope"></i></a>
        </p>
        <p class="text-center">
          <a href="/introduction/project-info/support/" class="btn btn-support upper">Support <i class="fa fa-wrench"></i></a>
        </p>
        <p class="text-center">
          <img src="/assets/img/kamon-footer-logo.png" alt="logo" />
        </p>
        <p class="copyright">
          &copy; 2015 Kamon. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
