<div class="footer">
  <div class="footer-content px-4 px-lg-0">
    <div class="row no-gutters justify-content-around align-items-center">
      <div class="col-12 col-lg-6 text-lg-center">
        <h2 class="text-white">Start monitoring in <span class="text-primary">3 minutes</span></h2>
        <h5 class="text-white">No credit card required.</h5>
      </div>
      <div class="col-12 col-lg-6 footer-try-kamon-button-container d-flex align-items-center justify-content-around">
        <a class="btn btn-primary btn-lg w-sm-100" href="#">Start Monitoring Free</a>
      </div>
    </div>
    <div class="row no-gutters justify-content-between footer-navigation-container">
      <div class="col-12 col-lg-3 mt-4 mt-lg-0">
        <a href="/">
          <img src="/assets/img/kamon/kamon-logo-dark.svg" alt="Kamon Logo"/>
        </a>
        <p class="mt-3">Simple and Effortless<br/>Microservices Monitoring</p>
        <div>
          <a href="https://www.linkedin.com/company/kamon-apm/" target="_blank" class="d-inline-block">
            <img src="/assets/img/icons/external-brand-and-logo/linkedin.svg" alt="LinkedIn Logo">
          </a>
          <a href="https://github.com/kamon-io/Kamon" target="_blank" class="d-inline-block ml-2">
            <img src="/assets/img/icons/external-brand-and-logo/github.svg" alt="Github Logo">
          </a>
        </div>
      </div>
      <div class="col-6 col-lg-2 mt-4 mt-lg-0">
        <p class="text-all-uppercase">Products</p>
        <div class="d-flex flex-column">
          <a class="align-self-start text-dark-3" href="/apm/">APM</a>
          <a class="align-self-start text-dark-3" href="/telemetry/">Telemetry</a>
          <a class="align-self-start text-dark-3" href="/apm/pricing/">Pricing</a>
        </div>
      </div>
      <div class="col-6 col-lg-2 mt-4 mt-lg-0">
        <p class="text-all-uppercase">Resources</p>
        <div class="d-flex flex-column">
          <a class="align-self-start text-dark-3" href="/docs/latest/overview/">Documentation</a>
          <a class="align-self-start text-dark-3" href="/blog/">Blog</a>
          <a class="align-self-start text-dark-3" href="https://github.com/kamon-io/Kamon/discussions/new" target="_blank">Support</a>
        </div>
      </div>
      <div class="col-6 col-lg-2 mt-4 mt-lg-0">
        <p class="text-all-uppercase">Company</p>
        <div class="d-flex flex-column">
          <a class="align-self-start text-dark-3" href="/about/">About Us</a>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-4 mt-lg-0">
        <p class="text-all-uppercase">Monitoring news</p>
        <div class="subscription-form row no-gutters">
          <form action="https://kamon.us7.list-manage.com/subscribe/post?u=875b290811bdd14ffc3a06124&amp;id=176f1d690b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
            <div class="input-group">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email" required>

              <div class="input-group-append">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="form-control btn btn-primary footer-subscribe-btn">
              </div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_875b290811bdd14ffc3a06124_176f1d690b" tabindex="-1" value="">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row no-gutters justify-content-between flex-lg-row-reverse footer-bottom">
      <div class="col-12 col-lg-6 d-flex justify-content-lg-end">
        <a class="text-light mr-3 mr-lg-0" href="/legal/privacy">Privacy Policy</a>
        <a href="/legal/subscription-agreement" class="ml-lg-3 text-light">Terms of Service</a>
      </div>
      <div class="col-12 col-lg-6">&copy; 2020 All Rights Reserved.</div>
    </div>
  </div>

</div>
