{% assign path_sections = page.url | split: '/' %}

<div id="20210315" class="notification-bar fixed-top d-flex align-items-center">
  <div class="container-fluid text-center">
    <a class="text-white font-weight-bold flex-grow-1 h-100" href="/blog/announcing-the-all-new-kamon-apm-service-map/">
      <span class="d-md-none">Check out the New Service Map!</span>
      <span class="d-none d-md-inline">Check out the all-new Kamon APM Service Map!</span>
    </a>
    <button type="button" class="close px-2">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>

<nav id="main-header" class="navbar navbar-expand-lg fixed-top">
  <div class="container-lg">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/kamon/kamon-logo-light.svg" width="170" height="64" loading="eager" alt="Kamon">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavigation" aria-controls="siteNavigation" aria-expanded="false" aria-label="Toggle Navigation">
      <img src="/assets/img/icons/menu-icon.svg" alt="Menu">
    </button>

    <div class="collapse navbar-collapse" id="siteNavigation">
      <ul class="navbar-nav ml-lg-3 flex-grow-1 justify-content-center">
        <li class="navbar-item dropdown d-lg-none">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="navbar-nav pl-3 d-lg-none">
            <li class="navbar-item">
              <a class="nav-link" href="/telemetry/">Kamon Telemetry</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/apm/">Kamon APM</a>
            </li>
          </ul>
        </li>

        <li class="navbar-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-center" aria-labelledby="productsDropdown">
            <div class="nav-submenu-container px-2" >
              <div class="row no-gutters">
                <div class="col-6">
                  <a href="/apm/">
                    <div class="nav-submenu-item row no-gutters py-3 align-items-center justify-content-left">
                      <div class="col-auto">
                        <img width="75" height="75" src="/assets/img/kamon/kamon-apm-icon-light.svg" alt="Kamon APM" loading="eager">
                      </div>
                      <div class="col px-3">
                        <h6>Kamon APM</h6>
                        <p class="item-explainer">Fix slow requests across microservices</p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6">
                  <a href="/telemetry/">
                    <div class="nav-submenu-item row no-gutters py-3 align-items-center justify-content-left">
                      <div class="col-4 pl-2">
                        <img width="75" height="75" src="/assets/img/kamon/kamon-telemetry-icon-light.svg" alt="Kamon Telemetry" loading="eager">
                      </div>
                      <div class="col-8">
                        <h6>Kamon Telemetry</h6>
                        <p class="item-explainer">Collect metrics and traces automatically</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/docs/latest/guides/">Docs</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/apm/pricing/">Pricing</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link" href="https://apm.kamon.io/signin" target="_blank" rel="noopener">Sign In</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link btn btn-primary onboarding-start-button" href="#">Start Monitoring</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<script>
  function toggleMobileNavigation() {
    $("#mobileNavigationOverlay").fadeToggle(200);
  }
</script>
