{% assign path_sections = page.url | split: '/' %}

<div id="20210601" class="notification-bar fixed-top d-flex align-items-center">
  <div class="container-fluid text-center">
    <a class="text-white font-weight-bold flex-grow-1 h-100" href="/apm/pricing/">
      <span class="d-md-none">Save 20% with the Starter Plan!</span>
      <span class="d-none d-md-inline">Save 20% with the New Starter Plan!</span>
    </a>
    <button type="button" class="close px-2">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</div>

<nav id="main-header" class="navbar navbar-expand-lg fixed-top">
  <div class="container-lg">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/kamon/kamon-logo-light.svg" width="170" height="64" loading="eager" alt="Kamon">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavigation" aria-controls="siteNavigation" aria-expanded="false" aria-label="Toggle Navigation">
      <img src="/assets/img/icons/menu-icon.svg" alt="Menu">
    </button>

    <div class="collapse navbar-collapse" id="siteNavigation">
      <ul class="navbar-nav ml-lg-3 flex-grow-1 justify-content-center">
        <li class="navbar-item dropdown d-lg-none">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="navbar-nav pl-3 d-lg-none">
            <li class="navbar-item">
              <a class="nav-link" href="/telemetry/">Kamon Telemetry</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/apm/">Kamon APM</a>
            </li>
          </ul>
        </li>
        <li class="navbar-item dropdown d-lg-none">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <ul class="navbar-nav pl-3 d-lg-none">
            <li class="navbar-item">
              <a class="nav-link" href="/solutions/monitoring-for-akka/">Monitoring for Akka</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/solutions/monitoring-for-play-framework/">Monitoring for Play Framework</a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/solutions/monitoring-for-spring-boot/">Monitoring for Spring Boot</a>
            </li>
          </ul>
        </li>        

        <li class="navbar-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu dropdown-menu-center p-0" aria-labelledby="productsDropdown">
            <div class="nav-submenu-container p-3" >
              <div class="row no-gutters">
                <div class="col-6">
                  <a href="/apm/">
                    <div class="nav-submenu-item p-3">
                      <div class="d-inline-block align-top">
                        <img class="item-icon" src="/assets/img/kamon/kamon-apm-icon-light.svg" alt="Kamon APM Logo" loading="eager">
                      </div>
                      <div class="d-inline-block">
                        <div class="item-title pb-1">Kamon APM</div>
                        <div class="item-explainer text-secondary">
                          Visualize metrics, create alerts, and find slow request traces
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-6">
                  <a href="/telemetry/">
                    <div class="nav-submenu-item p-3">
                      <div class="d-inline-block align-top">
                        <img class="item-icon" src="/assets/img/kamon/kamon-telemetry-icon-light.svg" alt="Kamon Telemetry Logo" loading="eager">
                      </div>
                      <div class="d-inline-block">
                        <div class="item-title pb-1">Kamon Telemetry</div>
                        <div class="item-explainer text-secondary">
                          Collect metrics and traces from JVM microservices
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="navbar-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solutions</a>
          <div class="dropdown-menu dropdown-menu-center p-0" aria-labelledby="solutionsDropdown">
            <div class="nav-submenu-container p-3" >
              <div class="row no-gutters">
                <div class="col-4">
                  <a href="/solutions/monitoring-for-akka/">
                    <div class="nav-submenu-item p-3">
                      <div class="d-inline-block align-top">
                        <img class="item-icon p-2" src="/assets/img/pages/solutions/akka/akka-logo.svg" alt="Akka Logo" loading="eager">
                      </div>
                      <div class="d-inline-block">
                        <div class="item-explainer text-secondary">Monitoring for </div>
                        <div class="item-title">Akka</div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/solutions/monitoring-for-play-framework/">
                    <div class="nav-submenu-item p-3">
                      <div class="d-inline-block align-top">
                        <img class="item-icon p-2" src="/assets/img/pages/solutions/play/play-logo.svg" alt="Play Framework Logo" loading="eager">
                      </div>
                      <div class="d-inline-block">
                        <div class="item-explainer text-secondary">Monitoring for </div>
                        <div class="item-title">Play Framework</div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-4">
                  <a href="/solutions/monitoring-for-spring-boot/">
                    <div class="nav-submenu-item p-3">
                      <div class="d-inline-block align-top">
                        <img class="item-icon p-2" src="/assets/img/pages/solutions/spring/spring-icon.svg" alt="Spring Logo" loading="eager">
                      </div>
                      <div class="d-inline-block">
                        <div class="item-explainer text-secondary">Monitoring for </div>
                        <div class="item-title">Spring Boot</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>        

        <li class="navbar-item">
          <a class="nav-link" href="/docs/latest/guides/">Docs</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/apm/pricing/">Pricing</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link onboarding-start-button mr-3 text-center" href="#">
            Install Telemetry
          </a>
        </li>
        <li class="navbar-item">
          <a class="nav-link btn btn-primary onboarding-start-button" href="#"  data-url="signup?external=yes">
            Try Kamon APM
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<script>
  function toggleMobileNavigation() {
    $("#mobileNavigationOverlay").fadeToggle(200);
  }
</script>
