<div class="modal fade" id="onboarding-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 90vw; height: 90vh;">
    <div class="modal-content" style="height: 100%;">
      <iframe
        width="1200"
        height="800"
        style="width: 100%; height: 100%;"
        id="onboarding-iframe"
        src="https://apm.kamon.io/onboarding?external=yes"
        allow="clipboard-read; clipboard-write;"
      ></iframe>
  </div>
</div>
