<div class="modal fade" id="apmOnboardingModal" tabindex="-1" role="dialog" aria-labelledby="apmOnboardingModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-4 border-0">
        <h4 class="modal-title" id="myModalLabel">Start with a 1-on-1 session</h4>
      </div>
      <div class="modal-body px-4 pt-0">
        <p class="text-lead mb-4">
          Your first step towards Kamon APM is conversation with Kamon's lead developer, Ivan. He'll help you figure out 
          if Kamon APM is the right tool for your team and personally guide you through the initial setup and next steps. Here he is:
        </p>
      </div>
      <div id="videoFrameWrapper"><iframe id="apmOnboardingVideoFrame" src="" frameborder="0" allow="fullscreen;" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
      <div class="modal-footer px-4">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Close</button>
        <button id="launchSignUp" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="You can reach out for help anytime later on">
          Skip & Sign Up Now
        </button>
        <a id="launchBookingModal" type="button" href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3rwG2cbWIXFOOvnVrafqhFTkWC_hA8-jYT-vBUZ6GcQjH3WRf3JqaUbqv6uFhov-Ub0jyhg-2O" target="_blank" class="btn btn-primary">
          Get 1-on-1 Onboarding
        </a>
      </div>
    </div>
  </div>
</div>