<div class="row no-gutters justify-content-center mt-5 pricing-models">

  <div class="col-12 col-md-4 pricing-model-container">
    <div class="text-center d-flex flex-column justify-content-between">
      <div class="pricing-model-image d-flex align-items-center justify-content-center">
        <img src="/assets/img/pages/pricing/starter-plan-illustration.svg" alt="Starter plan image">
      </div>
      <h3>
        Free
      </h3>
      <p>
        For developers getting started<br/>
        with production monitoring
      </p>
      <div class="pricing-model-price d-flex justify-content-center align-items-center">
        <h5 class="m-0 text-dark-1">
          Up to 5 services
        </h5>
      </div>
      <div>
        <ul class="pricing-model-details text-body-smaller text-left d-inline-block">
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>6 hours</b> data retention (metrics and traces)
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            Up to <b>1M spans</b> per month
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>Single production environment</b>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-1 justify-content-center pt-5 pb-3 d-none d-md-block">
    <div class="vertical-line"></div>
  </div>

  <div class="col-12 col-md-4 mt-5 mt-md-0 pricing-model-container">
    <div class="text-center d-flex flex-column justify-content-between">
      <div class="pricing-model-image d-flex align-items-center justify-content-center">
        <img src="/assets/img/pages/pricing/grow-plan-illustration.svg" alt="Grow plan image">
      </div>
      <h3>
        Grow
      </h3>
      <p>
        For growing teams deploying<br/>
        complex systems
      </p>
      <div class="pricing-model-price d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex align-items-start">
            <div class="d-inline-block text-display-1" id="grow-plan-monthly-price">30</div>
            <div class="text-blockquote text-dark-3 d-inline-block mt-n3">&euro;</div>
          </div>
          <div class="text-left ml-3">
            <h5 class="m-0 text-dark-1">Per service</h5>
            <p class="m-0 text-body-bigger text-dark-1" id="growth-plan-per-month-text">Per month</p>
          </div>
        </div>
      </div>
      <div>
        <ul class="pricing-model-details text-body-smaller text-left d-inline-block">
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>14 days</b> data retention for metrics
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>7 days</b> data retention for traces
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>5M included spans</b> per service
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>Extra spans at &euro;1 per million</b>
          </li>
          <li>
            <img src="/assets/img/pages/pricing/icon-check-circle.svg" alt="Circled checkmark icon"/>
            <b>Separate production and test environments</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
