<div class="row no-gutters justify-content-center mt-5">
  <div class="col-12 col-md-5 col-lg-4">
    <div class="text-center instrumentation-info-card d-flex flex-column justify-content-between p-4">
      <img src="/assets/img/pages/pricing/starter-plan-image.svg" alt="Starter plan image">
      <h3 class="text-dark-1">
        Starter
      </h3>
      <p class="text-dark-2 text-whitespace-pre-line">
        For developers getting started
        with production monitoring
      </p>
      <p class="price-container text-dark-1 m-0">
        Up to&nbsp;<b>5 services</b>
      </p>
      <ul class="pricing-details-list text-dark-2">
        <li>
          <img src="/assets/img/pages/pricing/check-circle.svg" alt="Circled checkmark icon"/>
          <b>6 hours</b> data retention
        </li>
        <li>
          <img src="/assets/img/pages/pricing/check-circle.svg" alt="Circled checkmark icon"/>
          <b>1M spans</b> per instance
        </li>
      </ul>
    </div>
  </div>

  <div class="col-1 align-content-center pt-5 pb-3 d-none d-md-block">
    <div class="vertical-line"></div>
  </div>

  <div class="col-12 col-md-5 col-lg-4">
    <div class="text-center instrumentation-info-card d-flex flex-column justify-content-between p-4">
      <img src="/assets/img/pages/pricing/grow-plan-illustration.svg" alt="Grow plan image">
      <h3 class="text-dark-1">
        Grow
      </h3>
      <p class="text-dark-2 text-whitespace-pre-line">
        For growing teams deploying
        complex systems
      </p>
      <div class="price-container text-dark-1">
        <div class="d-flex align-items-start">
          <div class="d-inline-block text-display-1">29</div>
          <div class="text-dark-3 text-blockquote d-inline-block mt-n3">&euro;</div>
        </div>
        <div class="text-left ml-3">
          <h5 class="m-0">Per service</h5>
          <p class="m-0 text-body-bigger">Per month</p>
        </div>
      </div>
      <div>
        <ul class="pricing-details-list text-left d-inline-block text-dark-2">
          <li>
            <img src="/assets/img/pages/pricing/check-circle.svg" alt="Circled checkmark icon"/>
            <b>14 days</b> data retention
          </li>
          <li>
            <img src="/assets/img/pages/pricing/check-circle.svg" alt="Circled checkmark icon"/>
            <b>1.5M spans</b> per instance
          </li>
          <li>
            <img src="/assets/img/pages/pricing/check-circle.svg" alt="Circled checkmark icon"/>
            <b>Additional spans at &euro;1 per million</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
