<div class="d-flex justify-content-center">
  <h2 class="w-50">Trusted by <span class="text-primary">startups</span> and<br/> the world's <span class="text-primary">largest companies</span></h2>
</div>
<div class="d-flex justify-content-center mt-5">
  <div id="userQuotesCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="client-quote text-white p-5">
          <p class="text-blockquote text-white mt-5 mb-5">
            Kamon gives us ease of mind and makes our monitoring better, allowing LiveIntent engineering to push the boundaries of what’s possible.
          </p>
          <p class="text-lead">Janko Ulaga</p>
          <p>Director of Software Engineering &copy; LiveIntent</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="client-quote text-white p-5">
          <p class="text-blockquote text-white mt-5 mb-5">
            Kamon is the best thing since sliced bread!
          </p>
          <p class="text-lead">Hello Kitty</p>
          <p>Director &copy; Universe</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#userQuotesCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#userQuotesCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
