<section class="row my-5 justify-content-center" style="opacity: 0.7;">
  <h5 class="col-12 text-light text-center">
    Join hundreds of developers monitoring  microservices with Kamon
  </h5>
  <img class="col-auto m-3" height="24" src="/assets/img/customers/liveintent.svg" alt="liveintent"/>
  <img class="col-auto m-3" height="28" src="/assets/img/customers/emnify.svg" alt="emnify"/>
  <img class="col-auto m-3" height="28" src="/assets/img/customers/despegar.svg" alt="despegar.com"/>
</section>