<div class="text-center">
  {% if include.hide-title != true %}
    <h2 class="d-inline-block w-md-50">Trusted by developers in companies small and big</h2>
  {% endif %}
  <div class="d-inline-block mt-5 client-quote-container">
    <div id="userQuotesCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner client-quote">
        <div class="carousel-item active">
          <div class="client-quote-text text-white p-5 d-flex flex-column justify-content-between">
            <p class="text-blockquote text-white">
              Kamon gives us ease of mind and makes our monitoring better, allowing LiveIntent engineering to push the boundaries of what’s possible.
            </p>
            <div>
              <p class="text-lead">Janko Ulaga</p>
              <p class="mt-3">Director of Software Engineering &copy; LiveIntent</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="client-quote-text text-white p-5 d-flex flex-column justify-content-between">
            <p class="text-blockquote text-white">
              Kamon is the best thing since sliced bread!
            </p>
            <div>
              <p class="text-lead">Hello Kittya</p>
              <p class="mt-3">Director &copy; Universe</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-inline-block carousel-buttons-container">
    <a href="#userQuotesCarousel" data-slide="prev" class="carousel-previous-slide-btn">
      <img src="/assets/img/icons/directional/carousel-navigation-previous.svg" alt="Next quote slide icon">
    </a>
    <a href="#userQuotesCarousel" data-slide="next" class="carousel-next-slide-btn">
      <img src="/assets/img/icons/directional/carousel-navigation-next.svg" alt="Previous quote slide icon">
    </a>
  </div>
</div>
