.outline-alert {
  border-radius: remSize(8);
  border: remSize(1) solid $color-shamrock-main;
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  &.outline-alert-info {
    border: remSize(1) solid $color-blue-1;
  }
  &.outline-alert-warning {
    border: remSize(1) solid $color-yellow-1;
  }
  &.outline-alert-danger {
    border: remSize(1) solid $color-red-1;
  }
}
