
$base-font-size: 16px;

@function remSize($pxsize, $rembase: 16) {
  @return ($pxsize/$rembase)+rem;
}

$navbar-height: 57px;

// DESIGN TYPOGRAPHY
$typography-primary-font: "Inter";
$typography-weight-bold: 700;
$typography-weight-semi-bold: 600;
$typography-weight-medium: 500;
$typography-weight-regular: 400;

$xs-max: 575px;
$sm-start: 576px;
$sm-max: 767px;
$md-start: 768px;
$md-max: 991px;
$lg-start: 992px;
$lg-max: 1199px;
$xl-start: 1200px;

@import "colors";
@import "mixins";
@import "layout";

@import "bootstrap_overrides";
@import "bootstrap/bootstrap";

@import "text";
@import "code";
@import "alert";
@import "page_backgrounds";

@import "includes/docs-search";
@import "includes/docs-version-select";
@import "includes/footer";
@import "includes/header";
@import "includes/pricing-models";
@import "includes/user-quotes";

@import "layouts/docs";
@import "layouts/post";

@import "pages/apm";
@import "pages/blog";
@import "pages/index";
@import "pages/instrumentation.scss";
@import "pages/pricing";

img.image-100-auto {
  max-width: 100%;
  height: auto;
}

.page-illustration {
  max-width: 100%;
  height: auto;

  &.large-screen-bigger {
    @media (min-width: $xl-start) {
      max-width: 500px;
    }

    @media (min-width: 1400px) {
      max-width: 600px;
    }

    @media (min-width: 1600px) {
      max-width: 800px;
    }
  }
}

body {
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

a.arrow-right {
  &:after {
    content: "arr";
    color: transparent;
    background-image: url("/assets/img/icons/directional/arrow-right-azure-radiance.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &:hover:after {
    background-image: url("/assets/img/icons/directional/arrow-right-azure-radiance-darker.svg");
  }
}

.markdown-content {
  color: $color-dark-2;

  h1, h2, h3, h4, h5, h6 {
    color: $color-dark-1;
  }
}
