.blog-content-wrapper {
  color: #949494;
  font-size: 1.2rem;
  margin-top: 3rem;

  @media (min-width: 992px) {
    margin-top: 8rem;
  }
}

.post-content {

  h4 {
    margin: 2.5rem 0rem 1rem 0rem;
  }
  p {
    margin-bottom: 1.7rem;
  }

  a {
    border-bottom: dotted 1px gray;

    &:hover {
      color: #5e5e5e;
    }
  }
}

.page-jumper {
  color: #949494;
  font-size: 1rem;
  line-height: 1.6rem;
  vertical-align: top;

  i {
    font-size: 1.6rem;
  }
}

.featured-tag, .latest-posts-tag {
  color: white;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
  background-color: $color-kamon-green;
}

.latest-posts-tag {
  background-color: #afafaf;
}

.featured-excerpt {
  font-size: 1.2rem;
  color: #949494;
}

.post-list {
  h1, h2 {
    font-weight: 400;
  }
}
.post-list-item {
  border-bottom: 1px solid #eaeaea;
}
