body {
  .code-example, :not(pre) > code[class*="language-"], pre[class*="language-"] {
    border-radius: 0.25rem;
  }

  code {
    color: $color-shamrock-main;
  }

  code[class*="language-"], pre[class*="language-"] {
    font-family: "Source Code Pro";
    font-weight: 500;
    font-size: remSize(14);
    line-height: remSize(17.6);
    color: $color-light-4;
  }

  pre code {
    font-size: 0.9rem;
  }

  .code-window-container {
    width: 100%;
    border-radius: remSize(8);
    overflow: hidden;
    box-shadow: -1.5rem 1.5rem 0 0 $color-green-4;

    @media (max-width: 320px) {
      max-width: 280px;
    }

    .learn-more-button {
      position: absolute;
      bottom: 1.4rem;
      right: 0.7rem;
    }
  }

  .code-window {
    $window-circle-size: 0.5rem;

    .code-window-heading {
      height: 1.5rem;
      background-color: $color-dark-1;
    }

    .code-window-circle {
      background-color: #808080;
      height: $window-circle-size;
      width: $window-circle-size;
      border-radius: $window-circle-size / 2;

      &.circle-red {
        background-color: $color-red-2;
      }
      &.circle-yellow {
        background-color: $color-yellow-2;
      }
      &.circle-green {
        background-color: $color-green-2;
      }
    }

    pre[class*="language-"] {
      min-height: 25rem;
      padding-top: 1rem;
      margin: 0rem;
      border-radius: 0rem;
    }
  }
}

.code-example-with-copy {
  border-radius: 8px;
  overflow: hidden;

  .tab-header {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: $color-dark-1;
    border-bottom: 1px solid $color-dark-2;

    .language-btn {
      height: 32px;
      line-height: 15px;
      color: $color-light-4;
      margin-left: 1rem;
      border-radius: 8px;
      background-color: transparent;
      border-color: transparent;

      &:hover {
        color: $color-light-0;
      }

      &.active {
        color: $color-dark-2;
        background-color: $color-light-4;
        border-color: $color-light-4;
      }
    }
  }

  .tab-content {
    pre {
      margin: 0;
      border-radius: 0 !important;
    }
  }

  .tab-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $color-light-1;
    border-top: 1px solid $color-dark-2;
    background-color: $color-dark-0;

    > div {
      margin-right: 2rem;
      cursor: pointer;
      &:after {
        content: "Copy";
        font-family: "Inter", monospace;
        margin-left: 1rem;
        font-size: 16px;
        font-weight: $typography-weight-regular;
      }
    }
  }
}

.copy-code-button {
  position: absolute;
  bottom: 1.4rem;
  right: 0.7rem;
}

// prism overrides
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $color-dark-1;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $color-dark-3;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: $color-blue-2;
}

.token.punctuation {
  color: $color-light-4;
}

.line-numbers .line-numbers-rows {
  border-right: none;
}

.line-numbers-rows > span:before {
  color: $color-dark-4;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: $color-shamrock-lighter;
}

.token.boolean,
.token.number,
.token.function {
  color: $color-orange-2;
}
