@import "mixins";
@import "functions";

body {
  // .code-example, :not(pre) > code[class*="language-"], pre[class*="language-"] {
  //   border-radius: 0.75rem;
  // }

  code:not([class*="language-"]) {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    font-weight: 500;
    color: $color-shamrock-darker;
    background-color: $color-light-2;
    border-radius: 8px;
    padding: 2px 10px 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
  }

  code[class*="language-"], pre[class*="language-"] {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $color-dark-2;
    padding-bottom: 2rem;

    
  }
}

.code-example-container {
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: $color-light-2;

  .tab-header {
    min-height: 64px;
    
    .language-btn {
      height: 32px;
      line-height: 18px;
      color: $color-dark-3;
      margin-left: 1rem;
      margin-top: 1rem;
      border-radius: 8px;
      padding: 4px 16px;
      background-color: $color-light-3;
      border: none;
      font-size: 1rem;
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);

      &:hover {
        color: $color-dark-1 !important;
      }

      &.active {
        color: $color-dark-2;
        background-color: $color-light-4;
        border-color: $color-light-4;
      }
    }
  }

  pre {
    margin: 0;
    border-radius: 0 !important;
    @include custom-scrollbar;
  }

  .tab-content {
    padding-left: 1rem;
  }

}

// prism overrides
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $color-light-2;
}

// .token.comment,
// .token.block-comment,
// .token.prolog,
// .token.doctype,
// .token.operator, 
// .token.cdata {
//   color: $color-dark-3;
// }

// .token.selector,
// .token.important,
// .token.atrule,
// .token.keyword,
// .token.entity, 
// .token.url,
// .token.builtin {
//   color: $color-blue-1;
// }

// .token.property,
// .token.punctuation {
//   color: $color-dark-2;
// }

// .line-numbers .line-numbers-rows {
//   border-right: none;
// }

// .line-numbers-rows > span:before {
//   color: $color-dark-4;
// }

// .token.string,
// .token.char,
// .token.attr-value,
// .token.regex,
// .token.variable {
//   color: $color-shamrock-darker;
// }

// .token.boolean,
// .token.number,
// .token.function {
//   color: $color-orange-2;
// }
