body {
  color: rgba(0, 0, 0, 0.67);
  //background-color: #f1f1f1;

  .content {
    margin-bottom: 800px;
  }

  h1, h2 {
    color: rgba(0, 0, 0, 0.75);
  }

  h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.72);
  }

  a,
  a:hover,
  a:active {
    color: rgba(0, 0, 0, 0.67);
    text-decoration: none;
  }
}
