.docs-header-bar {
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: #f6f6f6;

  .docs-header-bar-tabs {
    font-size: 1.1rem;
    ul {
      padding: 0rem;
      margin: 0rem;
      list-style: none;
    }

    li {
      display: inline-block;
      white-space:nowrap;

      a {
        color: #b1b1b1;
        display: inline-block;
        line-height: 2rem;
        padding: 0rem 1rem;
        border-bottom: 0.2rem solid transparent;

        &.active, &.active:hover {
          color: inherit;
          border-bottom-color: #5ad57f;
        }

        &:hover {
          color: inherit;
        }
      }
    }
  }

  .docs-version-dropdown {
    a {
      display: inline-block;
      line-height: 2rem;
      padding: 0rem 1rem;
    }
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #ababab;
  }
}

.has-scroll .docs-header-bar {
  box-shadow: none;
}

$sidebarWidth: 250px;
.docs-sidebar-nav {
  font-size: 1rem;
  line-height: 1.7rem;
  border-right: 1px solid #7b7b7b26;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: min-content;
  width: $sidebarWidth;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
  }

  $item-height: 1.8rem;
  ul {
    padding-left: 0;
    list-style-type: none;
  }

  .docs-sections {
    width: calc(#{$sidebarWidth} - 1px);
  }
  .docs-tabs {
    display: none;
  }

  .section-title {
    height: $item-height;
    line-height: $item-height;
    width: 100%;
    color: #717171;
  }

  a {
    display: inline-block;
    width: 100%;
    line-height: $item-height;

    &.active {
      color: #757575;
      font-weight: 600;
    }

    &:hover {
      background-color: #fcfcfc;
    }
  }

  #markdown-toc {
    font-size: 1rem;
    a.active {
      background: -webkit-linear-gradient(left, #5ad57f 2px, #f6f6f6 0%);
      font-weight: 400;
    }

    a:hover {
      background: -webkit-linear-gradient(left, #5ad57f 2px, #fcfcfc 0%);
    }
  }

  .level-one {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .level-two {
    padding-left: 1rem;
    font-weight: 500;
  }

  .level-three {
    padding-left: 1.5rem;
    color: #9c9c9c;
  }

  .level-two-margin {
    margin-left: 1rem;
  }

  .level-three-margin {
    margin-left: 1.5rem;
  }

  .page-toc {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0rem;
    background: -webkit-linear-gradient(left, #5ad57f 2px, white 0%);

    a {
      padding-left: 1rem;

      &:hover {
        background: -webkit-linear-gradient(left, #5ad57f 2px, #f6f6f6 0%);
      }
    }
  }

}

.docs-content {
  font-size: 1.1rem;
  color: #909090;
  padding-bottom: 6rem;

  h2, h3 {
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.45rem;
    letter-spacing: -0.07rem;
    margin-bottom: 1rem;
  }

  a {
    border-bottom: dotted 1px gray;

    &:hover {
      color: #5e5e5e;
    }
  }

  li {
    padding: 0.1rem 0rem;
  }

  .alert {
    color: #73736f;
    border: none;
    border-radius: 0rem;
  }

  .alert-info {
    background: -webkit-linear-gradient(left, #23a5bb 4px, #e1f3f5 0%);
  }

  .alert-warning {
    background: -webkit-linear-gradient(left, #ffe28d 4px, #fffbda 0%);
  }
  }

@media (min-width: 992px) {
  body {
    .docs-header-bar {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .docs-sidebar-nav {
      position: fixed;
      top: 245px;
    }

    .docs-content {
      padding-top: 7rem;
      width: calc(100% - #{$sidebarWidth} - 5px);
    }

    #docs-sidebar ~ .docs-content {
      margin-left: $sidebarWidth !important;
    }
  }

  body.has-scroll {
    .docs-sidebar-nav {
      top: 180px;
    }

    .docs-content {
      padding-top: 5rem;
    }
  }
}

@media (max-width: 991px) {
  .header-bar {
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.3);
  }

  .docs-header-bar {
    display: none;
  }

  .docs-sidebar-nav {
    position: fixed;
    left: 0;
    top: 70px;
    padding-top: 10px;
    z-index: 100;
    background: #fff;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    max-width: 0;
    transition: max-width 0.3s;

    &.active {
      max-width: 500px;
    }

    .docs-tabs, > ul {
      display: block;
      position: static;
    }

    .docs-tabs {
      a {
        padding-left: 1rem;
      }
    }
  }
}


.metric-detail {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  cursor: pointer;

  a {
    display: inline-block;
    width: 100%;
    border-bottom: none;
  }

  .tag-name {
    font-weight: 600;
  }

  p, ul {
    margin-bottom: 0;
  }
}