.elevation-header {
  box-shadow: 0 0px 14px rgba(0,0,0,.30);
}

.elevation-image {
  box-shadow: 0 0px 14px rgba(0,0,0,.30);
}





.elevation-1 { box-shadow: 0 2px 4px rgba(0,0,0,.25);}
.elevation-2 { box-shadow: 0 4px 8px rgba(0,0,0,.25);}
.elevation-3 { box-shadow: 0 6px 12px rgba(0,0,0,.25);}
.elevation-4 { box-shadow: 0 8px 16px rgba(0,0,0,.25);}
.elevation-5 { box-shadow: 0 16px 32px rgba(0,0,0,.25);}
.elevation-6 { box-shadow: 0 24px 48px rgba(0,0,0,.25);}
