.elevation-header {
  box-shadow: 0 0px 14px rgba(0,0,0,.30);
}

.elevation-mobile-sidebar {
  box-shadow: 0 0px 6px rgba(0,0,0,.30);
}

.elevation-image {
  box-shadow: 0 0px 8px rgba(0,0,0,.35);
  margin-bottom: 25px;
}

.elevation-feature {
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
}