// Colors used on default text

$black_38: #9E9E9E;
$black_54: #757575;
$black_87: #212121;

body {
  background-color: white;
}

$white:             #ffffff;
$teal-bright:       #12cab7;
$teal:              #14c4b4;
$emerald:           #98FB98;
$salmon:            #ff8e7d;
$metallic-seaweed:  #177E89;
$teal-dark:         #08b1a0;
$mountain-medow:    #14c499;
$light-gray:        #f2f2f3;
$dark-green:        #173a35;
$dark-gray:         #1c272d;
$charcoal:          #3a3a3a;
$submarine:         #b7bec4;
$dove-gray:         #909090;
$wild-blue:         #0ca0ca;


.color-text-primary     { color: $black_87; }
.color-text-secondary   { color: $black_54; }
.color-text-bright      { color: $black_38; }
.color-text-brighter    { color: #cbcdcc; }
.color-text-white       { color: #ffffff; }
.color-text-alpha-white { color: #ffffffd1; }

@mixin color-text-primary {
  color: $black_87 !important;
}

@mixin color-text-brighter {
  color: $black_87 !important;
}

.color-white  { color: white; }
.color-teal   { color: #14c4b4; }
.color-orange { color: #e08b4b; }
.color-green  { color: #3fa652; }

.background-white             { background-color: #ffffff; }
.background-teal-bright       { background-color: #12cab7; }
.background-teal              { background-color: #14c4b4; }
.background-salmon            { background-color: $salmon; }
.background-metallic-seaweed  { background-color: #177E89; }
.background-teal-dark         { background-color: #08b1a0; }
.background-light-gray        { background-color: #f2f2f3; }
.background-dark-green        { background-color: #173a35; }
.background-dark-gray         { background-color: #1c272d; }
.background-charcoal          { background-color: $charcoal; }
.background-submarine         { background-color: $submarine; }
.background-mountain-medow    { background-color: $mountain-medow; }
.background-wild-blue         { background-color: $wild-blue; }
.background-dove-gray         { background-color: $dove-gray; }




/**
  *  Styles derived from: https://material.io/guidelines/style/typography.html#typography-typeface
  */

  .text-display-4 {
    color: $black_54;
    font-weight: 300;
    font-size: 112px;
    line-height: 112px;
    letter-spacing: -1px;
  }

  .text-display-3 {
    color: $black_54;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1px;
  }

  .text-display-2 {
    color: $black_54;
    font-weight: 400;
    font-size: 45px;
    line-height: 48px;
    letter-spacing: -1px;
  }

  .text-display-1 {
    color: $black_54;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1px;
  }

  .text-tagline {
    color: #878787;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -1.5px;
    margin: 20px 0px;
  }

  .text-headline {
    color: $black_87;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  .text-headline-description {
    color: $black_87;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  .text-title {
    color: $black_87;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  .text-sub-heading {
    color: $black_87;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
  }

  .text-body-4 {
    color: $black_87;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  .text-body-3 {
    color: $black_87;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
  }

  .text-body-2 {
    color: $black_87;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
  }

  .text-body-1 {
    color: $black_87;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }

  .text-caption {
    color: $black_54;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  a, a:active, a:hover {
    color: inherit;
    text-decoration: none;
  }


  /**
    *   Colors
    */
