.footer {
  color: #9E9E9E;

  .footer-heading {
    font-weight: $bold;
  }

  .footer-item-link:hover {
    color: #fbfbfbd6;
  }
}
@media (max-width: 585px) {
  .footer {
    .container {
      text-align: center;
    }
  }
}