.footer {
  color: #9E9E9E;
  z-index: 1;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;

  .footer-heading {
    font-weight: $bold;
  }

  .footer-item-link:hover {
    color: #fbfbfbd6;
  }
}
@media (max-width: 585px) {
  .footer {
    .container {
      text-align: center;
    }
  }
}