.header-bar {
  height: 5rem;
  background-color: white;

  .logo {
    max-height: 50px;
  }

  .header-bar-item {
    color: #636363;
    font-size: 1.1rem;
    display: inline-block;
    padding: 0.5rem 0.8rem 0rem 1.3rem;

    @media (max-width: 1200px) {
      font-size: 1.1rem;
      padding: 0.5rem 0.5rem 0rem 0.8rem;
    }

    &:hover {
      color: #484848;
    }
  }

  .mobile-sidebar-button-inner {
    cursor: pointer;
    width: 28px;
    height: 20px;

    span,
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      margin-bottom: 4px;
      background: #cdcdcd;
      border-radius: 2px;
    }

    &:after {
      margin-bottom: 0;
    }
  }
}