.header-bar {
  height: 5rem;
  background-color: white;

  .logo {
    max-height: 50px;
  }

  .header-bar-item {
    line-height: 5rem;
    display: inline-block;
    padding: 0rem 1rem;

    @media (max-width: 1200px) {
      font-size: $base-font-size - 1px;
      padding: 0rem 0.5rem;
    }

    &:hover {
      background: -webkit-linear-gradient(bottom, #e6e6e6 4px, white 0%);
    }
  }

  .mobile-sidebar-button-inner {
    cursor: pointer;
    width: 28px;
    height: 20px;

    span,
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      margin-bottom: 4px;
      background: #cdcdcd;
      border-radius: 2px;
    }

    &:after {
      margin-bottom: 0;
    }
  }
}