@import "variables";

body {
  overflow-x: hidden;
  padding-top: $navbar-height;

  &.has-notification {
    .notification-bar {
      top: 0;
      height: $notification-bar-height;
    }

    #main-header {
      top: $notification-bar-height;
    }
  }

}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.elevated-container {
  background-color: $color-light-4;
  @include rounded-elevation;
}

.single-section-full-height {
  min-height: calc(100vh - 600px);
}
