@import "variables";

body {
  overflow-x: hidden;
  padding-top: $navbar-height;

  &.has-notification {
    .notification-bar {
      top: 0;
      height: $notification-bar-height;
    }

    #main-header {
      top: $notification-bar-height;
    }
  }

}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
  height: 180px;
  margin: -180px 0 0;
}

section {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.section-icon-padding {
  padding-top: 66px;

  @include media-breakpoint-down(md) {
    padding-top: 0px;
  }
}

.elevated-container {
  background-color: $color-light-4;
  @include rounded-elevation;
}

.single-section-full-height {
  min-height: calc(100vh - 600px);
}
