.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.default-content-container {
  margin: 50px auto;
  max-width: 100%;
  padding: 2rem;

  > section {
    padding: 5rem 0;
  }

  @media (min-width: $sm-start) {
  }

  @media (min-width: $md-start) {
    max-width: 80vw;
    padding: 0;
  }

  @media (min-width: $lg-start) {

    > section {
      padding: 5rem 0;
    }
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}

.elevated-container {
  background-color: $color-light-4;
  @include rounded-elevation;
}

.w-sm-100 {
  @media (max-width: $xs-max) {
    width: 100%;
  }
}

.w-sm-50 {
  @media (max-width: $xs-max) {
    width: 50% !important;
  }
}

.w-md-75 {
  @media (min-width: $md-start) {
    width: 75%;
  }
}

.w-md-50 {
  @media (min-width: $md-start) {
    width: 50%;
  }
}

.w-md-25 {
  @media (min-width: $md-start) {
    width: 25%;
  }
}

.w-xl-75 {
  @media (min-width: $xl-start) {
    width: 75%;
  }
}

.w-xl-80 {
  @media (min-width: $xl-start) {
    width: 80%;
  }
}

.w-xl-50 {
  @media (min-width: $xl-start) {
    width: 50%;
  }
}

.height-100vh {
  height: 100vh;
}

.single-section-full-height {
  height: calc(100vh - 170px - 170px);
}

.container-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
