ul.icon-list {
  list-style: none;
  padding-left: 0px;

  li {
    padding: 8px 0px 8px 24px;
    background-size: 24px 24px;
    background-position: left center;
    background-repeat: no-repeat;
  }
}