#mobile-sidebar {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 260px;
  z-index: 2;
  overflow-y: auto;

  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  -webkit-transform: translate(-280px, 0);
  transform: translate(-280px, 0);

  &.open {
    -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  }

  .main-navigation {

    .header-bar-item {
      padding: 0.5rem 0rem 0.5rem 1rem;
    }
  }

  .section-title {
    font-size: 1.1rem;
    color: #b5b5b5;
    padding-left: 1rem;
    padding-bottom: 0.5rem
  }

  #docs-sidebar-container {
    border-top: 1px solid #efefef;
  }

  #docs-navigation-container {
    border-top: 1px solid #efefef;

    ul {
      padding-left: 1rem;
      list-style: none;
    }

    li {
      padding: 0.3rem 0rem;
    }
  }

  #mobile-docs-sidebar {
    position: relative;
    top: 0;

    ul {
      padding-left: 0;
    }

    li {
      padding: 0;
    }

    .docs-sections {
      padding-left: 0;
    }

    &.docs-sidebar-nav {
      height: 100%;
      max-width: 260px !important;
      padding-bottom: 10rem;
      border-right: none;
      overflow-y: hidden;
    }
  }
}