@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

a.nav-link {
  font-size: remSize(18);
  font-weight: $typography-weight-semi-bold;

  &:focus-visible {
    outline: none;
    border: none;
  }

  &:not(.btn) {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: $color-dark-1;
  }

  @include media-breakpoint-down(md) {
    margin: remSize(8) remSize(8);
    font-size: remSize(18);
  }

  &.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 3px solid $color-light-2;
    border-left: 3px solid $color-light-2;
    border-right: none;
    transition: 0.2s;
    transform: translate(8px, 1px) rotate(-135deg);
  }
}

.navbar-nav {
  .navbar-item.dropdown.show {
    @include media-breakpoint-up(lg) {
      a.nav-link {
        color: $color-light-2;
      }

      a.nav-link::after {
        transform: translate(8px, 5px) rotate(45deg);
      }
    }
  }
}

.dropdown-menu-center {
  right: auto;
  left: 40%;
  -webkit-transform: translate(-23%, 0);
  -o-transform: translate(-23%, 0);
  transform: translate(-23%, 0);
}

.nav-submenu-container {
  max-width: 700px;
  min-width: 700px;

  .nav-submenu-item {
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      background-color: $color-light-3;

      .item-icon {
        background-color: white;
      }
    }

    .item-icon {
      max-width: 48px;
      margin-right: 12px;
      border-radius: 8px;
      background-color: $color-light-3;
    }

    .item-title {
      font-weight: 600;
      color: $color-dark-1;
      font-size: remSize(16);
    }

    .item-explainer {
      max-width: 220px;
      white-space: normal;
    }

    
  }
}

.navbar.mobile-expanded {
  background-color: $color-dark-background !important;
  max-height: 100%;
  overflow: auto;

  .notification-bar + & {
    max-height: calc(100% - 36px);
  }
}

.notification-bar {
  top: -$notification-bar-height;
  background-color: $color-shamrock-darker;
}

.dropdown-menu.show {
  margin-top: -1px;
  border: none;
  @include rounded-elevation;
}
