.pricing {
  .pricing-plan-heading {
    position: relative;

    &:after {
      z-index: -1;
      position: absolute;
      background-color: inherit;
      height: 60px;
      width: 100%;
      content: '';
      transform: skewY(-4deg) translateY(-39px);
    }
  }

  .pricing-plan {
    height: 7rem;
  }

  .pricing-target-audience {
    font-size: 0.9rem;
    color: #9c9c9c;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  .pricing-plan-price {
    font-size: 4rem;
    letter-spacing: -0.2rem;
    padding-right: 0.5rem;

    sup {
      font-size: 2.3rem;
      top: -1.1rem;
      left: 0.5rem;
    }
  }

  .pricing-plan-unit {
    font-size: 1.1rem;
  }

  .pricing-plan-term {
    font-size: 1.1rem;
    color: #9c9c9c;
  }

  .pricing-description-qty {
    font-weight: 600;
    color: #909090;
  }

  .pricing-description-text {
    color: #9c9c9c;
  }

  .extra-instance-price {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .enterprise-plan {
    .pricing-plan-unit, .pricing-plan-term {
      font-size: 1.2rem;
    }

    .pricing-description-qty, .pricing-description-text {
      width: 50%;
    }
  }

  .pricing-details {
    font-size: 0.9rem;
    color: #909090;
    padding: 0rem 1rem 0rem 2rem;

    @media (min-width: 992px) {
      height: 14rem;
    }
  }
}

.pricing-faq {
  h5 {
    font-size: 1.1rem;
  }
}
