.hero {
  margin: 7rem 1rem 6rem 1rem;

  h1 {
    font-size: 2.7rem;
    font-weight: 400;
  }

  h4 {
    color: #a9a9a9;
  }
}

.symbol {
  height: 2.5rem;

  img {
    height: 100%;
  }

  .symbol-caption {
    padding-left: 0.5rem;
    position: relative;
    bottom: -0.9rem;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 100%;
    color: $text-color-caption;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.feature-description {
  font-size: 1.1rem;
}

.api-section-toggle {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.7rem;
  padding: 0.7rem 1rem;
  background-color: white;

  h5 {
    font-weight: 600;
  }

  &.active {
    text-shadow: 0px 1px 6px #0000001a;
    background-color: $color-kamon-green;
    color: white;

    h5 {
      color: inherit;
    }
  }
}

.integration-showcase {
  font-size: 1rem;
  margin-top: 0.7rem;
  padding: 0.7rem 1rem;
  background-color: white;

  h5 {
    font-weight: 600;
  }
}

.skew-bottom-left {
  &:after {
    z-index: -1;
    position: absolute;
    background-color: inherit;
    height: 100px;
    width: 100%;
    content: '';
    transform: skewY(-2deg) translateY(-50px);
  }
}


.skew-top-left {
  &:before {
    z-index: -1;
    position: absolute;
    background-color: inherit;
    height: 100px;
    width: 100%;
    content: '';
    transform: skewY(2deg) translateY(-50px);
  }
}

.skew-bottom-right {
  &:after {
    z-index: -1;
    position: absolute;
    background-color: inherit;
    height: 100px;
    width: 100%;
    content: '';
    transform: skewY(2deg) translateY(-50px);
  }
}

.skew-top-right {
  &:before {
    z-index: -1;
    position: absolute;
    background-color: inherit;
    height: 100px;
    width: 100%;
    content: '';
    transform: skewY(-2deg) translateY(-50px);
  }
}

.vertical-center {
 display: table-cell;
 float: none;
 vertical-align: middle;
}

.about-us-section {
  color: #929292;
  font-size: 1.2rem;
}

.signup-cta {
  // &:after {
  //   z-index: -1;
  //   position: absolute;
  //   background-color: inherit;
  //   height: 40px;
  //   width: 100%;
  //   content: '';
  //   transform: skewY(0.5deg) translateY(-20px);
  // }

  // &:before {
  //   z-index: -1;
  //   position: absolute;
  //   background-color: inherit;
  //   height: 40px;
  //   width: 100%;
  //   content: '';
  //   transform: skewY(-0.5deg) translateY(-10px);
  // }
}

.skew-top-left-footer {
  &:before {
    z-index: -1;
    position: absolute;
    background-color: inherit;
    height: 40px;
    width: 100%;
    content: '';
    transform: skewY(0.5deg) translateY(-10px);
  }
}

#apm-hdr-image {
  max-height: 350px;
}

#apm-link-up {
  position: absolute;
  bottom: 175px;
  left: -110px;
}

#apm-link-down {
  position: absolute;
  top: 40px;
  left: calc(100% + 20px);
  transform: rotate(180deg)
}