.mt-6 {
  margin-top: 4.5rem;
}

.mt-7 {
  margin-top: 6rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-10 {
  margin-top: 10rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-10 {
  padding-top: 10rem;
}