@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700,800');

html, body {
  color: $color-dark-0;
  font-size: $base-font-size;
  line-height: remSize(24);
  font-family: "Inter";

  @media (max-width: 490px) {
    font-size: 10px;
  }
}

.text-display-1 {
  font-weight: $typography-weight-bold;
  font-size: remSize(64);
  line-height: remSize(77.45);
}

.text-display-2 {
  font-weight: $typography-weight-bold;
  font-size: remSize(56);
  line-height: remSize(67.77);
}

h1, h2, h3, h4 {
  font-weight: $typography-weight-bold;
}

h5, h6 {
  font-weight: $typography-weight-semi-bold;
}

h1 {
  size: remSize(40);
  line-height: remSize(56);
}

h2 {
  size: remSize(32);
  line-height: remSize(44);
}

h3 {
  size: remSize(28);
  line-height: remSize(38);
}

h4 {
  size: remSize(24);
  line-height: remSize(32);
}

h5 {
  size: remSize(20);
  line-height: remSize(28);
}

h6 {
  size: remSize(16);
  line-height: remSize(24);
}

.text-lead {
  font-weight: $typography-weight-bold;
  font-size: remSize(14);
  line-height: remSize(24);
}

.text-blog-body {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(18);
  line-height: remSize(32);
}

.text-body-smaller {
  font-weight: $typography-weight-regular;
  font-size: remSize(14);
  line-height: remSize(24);
}

.text-body-bigger {
  font-weight: $typography-weight-regular;
  font-size: remSize(16);
  line-height: remSize(24);
}

.text-blockquote {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(24);
  line-height: remSize(32);
}

.text-blockquote-small {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(20);
  line-height: remSize(28);
}

// TODO: put this as button default
.text-button {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(16);
  line-height: remSize(16);
}

.text-button-small {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(14);
  line-height: remSize(16);
}

.text-all-uppercase {
  font-size: remSize(14);
  line-height: remSize(17);
  letter-spacing: remSize(2);
  text-transform: uppercase;
}

.text-small {
  font-weight: $typography-weight-semi-bold;
  font-size: remSize(12);
  line-height: remSize(16);
}

.text-dark-1 {
  color: $color-dark-1;
}

.text-dark-2 {
  color: $color-dark-2;
}

.text-dark-3 {
  color: $color-dark-3;
}

.text-dark-4 {
  color: $color-dark-4;
}

.text-azure-radiance {
  color: $color-azure-radiance-main;
}

.link-azure-radiance {
  color: $color-azure-radiance-main;
  &:hover {
    color: $color-azure-radiance-main;
    text-decoration: none;
  }
}

.text-whitespace-pre-line {
  white-space: pre-line;
}

.text-tag-green {
  background-color: $color-green-4;
  color: $color-green-1;
  border: 1px solid $color-green-2;
  border-radius: 8px;
  font-weight: $typography-weight-bold;
  padding: remSize(4) remSize(16);
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    padding: 0;
    margin: 0;
  }
}
