.sm-blue-background, .sm-green-background {
  border-radius: 8px;
  padding: 2rem;
}

.sm-blue-background {
  background-color: $color-blue-4;
}

.sm-green-background {
  background-color: $color-green-4;
}
