.post-image-container {
  border-radius: 8px;
  height: 100px;
  overflow: hidden;

  @media (min-width: $sm-start) {
    height: 200px;
  }

  @media (min-width: $md-start) {
    height: 300px;
  }

  @media (min-width: $lg-start) {
    width: 100%;
    height: 100%;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    &.announcement {
      background-color: $color-yellow-1;
      background-image: url("/assets/img/background/cubes-pattern-blog.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.blog-post-card {

  .blog-post-card-content {
    border-radius: 8px;
    overflow: hidden;
  }

  .blog-post-image {
    width: 100%;
    height: 200px;

    @media (max-width: $xs-max) {
      height: 100px;
    }

    &.announcement {
      background-color: $color-yellow-1;
      background-image: url("/assets/img/background/cubes-pattern-blog.svg");
    }
  }

  .blog-post-card-text {
    height: calc(100% - 200px);

    @media (max-width: $xs-max) {
      height: calc(100% - 100px);
    }
  }
}

.publish-details {
  > p {
    margin: 0;
  }
}

.start-monitoring-card-small {
  background-color: $color-light-3;
  @include rounded-elevation;
}

.blog-container {

  * {
    max-width: 100% !important;
  }

  .blog-content {
    p {
      font-size: remSize(18);
    }
  }
}

