.featured-post-summary-image {
  border-radius: 8px;
  height: 100px;
  overflow: hidden;

  @media (min-width: $sm-start) {
    height: 200px;
  }

  @media (min-width: $md-start) {
    height: 300px;
  }

  @media (min-width: $lg-start) {
    width: 100%;
    height: 100%;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;

    &.releases {
      background: $color-yellow-1 url("/assets/img/background/cubes-background-pattern-lighter.svg") no-repeat center;
    }

    &.posts {
      background: $color-blue-1 url("/assets/img/background/waves-background-pattern.svg") no-repeat bottom right;
    }

    &.teamblog {
      background: $color-green-1 url("/assets/img/background/squares-background-pattern.svg") no-repeat center;
    }
  }

}

.featured-post-title {
  font-size: remSize(40);
  line-height: 1.4;
  font-weight: bold;
}

.featured-post-description {
  font-size: remSize(16);
  line-height: 1.5;
}

.blog-posts-container {
  transform: translateY(-48px);
}

.blog-card {
  &.invisible {
    display: none;
  }

  .blog-card-content {
    border-radius: 8px;
    overflow: hidden;
  }

  .blog-card-summary-image {
    width: 100%;
    height: 200px;
    background-position: top; 
    background-size: cover;

    @media (max-width: $xs-max) {
      height: 100px;
    }

    &.releases {
      background: $color-green-1 url("/assets/img/background/cubes-background-pattern-lighter.svg") no-repeat center;
    }

    &.posts {
      background: $color-blue-1 url("/assets/img/background/squares-background-pattern.svg") no-repeat bottom right;
    }

    &.teamblog {
      background: $color-green-1 url("/assets/img/background/squares-background-pattern.svg") no-repeat center;
    }
  }

  .blog-card-text {
    height: calc(100% - 200px);

    @media (max-width: $xs-max) {
      height: calc(100% - 100px);
    }
  }
}

.load-more-button {
  &.invisible {
    display: none;
  }
}
