.homepage-container {

  .homepage-intro {
    @media (min-width: $xl-start) {
      height: calc(100vh - 5rem - 200px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .homepage-video {
    width: 100%;

    @media (min-width:$xl-start) {
      width: 110%;
      height: 110%;
    }
  }

  .main-homepage-illustration {

    @media (min-width: 1400px) {
      position: relative;
      left: -22%;
    }
  }

  .secondary-homepage-illustration {

    @media (min-width: $xl-start) {
      position: relative;
      bottom: -35%;
      margin-bottom: 5rem;
    }
  }

  .eu-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 103;

    @media (max-width: 1170px) {
      width: 75px;
      height: 75px;
    }

    @media (max-width: 574px) {
      width: 50px;
      height: 50px;
    }
  }

  .step-circle {
    width: 48px;
    height: 48px;
    border-radius: 75px;
    border: 1px solid rgba(85, 87, 112, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      margin-bottom: 0;
    }
  }

  .kamon-stack-icon-container {
    max-width: 56px;
  }

  .steps-horizontal-line {
    position: relative;
    top: 91%;
    margin: 0 -180%;
  }

  .steps-vertical-line {
    height: 10rem;
    > div {
      display: inline-block;
      width: 1px;
      height: 100%;
      border: 1px solid $color-light-1;
    }
  }
}
