.pricing-plan {
  padding-left: 2rem !important;
  padding-right: 2rem !important;

  .pricing-header {
    height: 24rem;

    // @media (min-width: 768px) {
    //   height: 24rem;
    // }
  }

  .pricing-price {
    height: 7rem;

    @media (min-width: 768px) {
      height: 9rem;
    }

    .pricing-frequency {
      color: $color-light-0;
      padding-left: 0.3rem;
      font-size: 2rem;
    }
  }

  .pricing-explainer {
    background-color: $color-light-3;
    border: 1px solid #E4E4EB;
    border-radius: .75rem;

    .pricing-plan-details {
      li {
        background-image: url("/assets/img/pages/pricing/green-check-mark.svg");
        background-size: 1rem;
      }
    }
  }

  .pricing-breakdown {
    padding-left: 1rem;

    li {
      background-image: url("/assets/img/pages/pricing/green-check-mark.svg");
      background-size: 1rem;
    }

    @media (min-width: 768px) {
      height: 37rem;
      padding-left: 2rem;
    }

    @media (min-width: 992px) {
      height: 28rem;
    }


    @media (min-width: 1200px) {
      height: 24rem;
    }
  }

  .pricing-cta {
    height: 8rem;
  }
}

.featured-plan {
  position: relative;
  border-radius: 0.8rem;
  border: 2px solid $color-shamrock-main;

  .pricing-header {
    margin-top: -1.6rem;
  }

  .plan-qualifier {
    display: inline-block;
    margin-top: -2rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    border-radius: 1rem;
    background-color: $color-shamrock-main;
  }
}

.faq-question-container {
  font-size: 1.1rem;
}

#teams-plan-service-number {
  border: none;
  border-bottom: 1px solid $color-dark-4;
  padding: unset;
  height: 25px;
  width: 35px;
  color: $color-shamrock-main;

  &:focus {
    outline: none;
    border-bottom: 1px solid $color-shamrock-main;
  }
}

.teams-plan-service-buttons-container {

  button {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 10px;
    padding: 0;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 1px solid $color-dark-3;
    }
  }

  #teams-plan-service-up-button {
    background: center no-repeat url(/assets/img/icons/directional/angle-up.svg);
  }

  #teams-plan-service-down-button {
    background: center no-repeat url(/assets/img/icons/directional/angle-down.svg);
  }
}