.faq-question-container {
  border-bottom: 1px solid $color-light-1;
  padding: 1rem;
  position: relative;

  p {
    margin-top: 1rem;
  }

  .faq-question-header {
    cursor: pointer;
    padding-right: 32px;

    ::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 18px;
      width: 12px;
      height: 12px;
      border-top: 2px solid $color-dark-2;
      border-left: 2px solid $color-dark-2;
      transform: translateY(6px) rotate(45deg);
      transition: 0.2s;
    }
  }

  .faq-question-header.collapsed {
    ::after {
      transform: rotate(-135deg);
      border-top: 2px solid $color-dark-1;
      border-left: 2px solid $color-dark-1;
    }
  }
}

.pricing-banner-background {
  background-color: $color-shamrock-main;
  border-radius: 8px;
  box-shadow: -1.5rem 1.5rem 0 0 $color-green-4;
  color: $color-light-4;
  background-image: url("/assets/img/background/cubes-pattern.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 2rem;

  @media (min-width: $md-start) {
    padding: 3rem;
  }
}
