.pricing-plan {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 2rem;

  .pricing-header {
    height: 24rem;
  }

  .pricing-price {
    height: 6rem;

    @media (min-width: 768px) {
      height: 6rem;
    }


    .pricing-frequency {
      color: $color-dark-3;
      padding-left: 0.3rem;
      font-size: 3rem;
    }
  }

  .pricing-explainer {
    
    .pricing-plan-details {
      li {
        background-image: url("/assets/img/pages/pricing/green-check-mark.svg");
        background-size: 1.5rem;
        padding-left: 2.5rem;
      }
    }
  }
}

.sign-up-cta {
  border-radius: 16px;
  border: 2px solid $color-shamrock-main;

  .cta-explainer {
    font-size: 1.5rem;
  }
}

.plan-comparison-table {
  table-layout: fixed;

  thead tr th {
    padding: 12px 0px;

    &:not(:first-child) {
      width: 150px;
    }
  }

  tbody tr td {
    padding: 12px 0px;
    border-top: 1px solid $color-light-1;
  }
}

#teams-plan-service-number {
  border: none;
  border-bottom: 1px solid $color-dark-4;
  padding: unset;
  height: 25px;
  width: 35px;
  color: $color-shamrock-main;

  &:focus {
    outline: none;
    border-bottom: 1px solid $color-shamrock-main;
  }
}

.teams-plan-service-buttons-container {

  button {
    border: none;
    background-color: transparent;
    width: 15px;
    height: 10px;
    padding: 0;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 1px solid $color-dark-3;
    }
  }

  #teams-plan-service-up-button {
    background: center no-repeat url(/assets/img/icons/directional/angle-up.svg);
  }

  #teams-plan-service-down-button {
    background: center no-repeat url(/assets/img/icons/directional/angle-down.svg);
  }
}