
.instrumentation-info-card {
  max-width: 380px;
  min-width: 150px;
}

.wrap-text {
  word-wrap: break-word;
}

.api-section-toggle {
  cursor: pointer;
  .code-example-icon {
    color: $color-blue-1;
  }

  .api-section-toggle-text,
  .api-section-toggle-icon-active {
    display: none;
  }

  &.active {
    box-shadow: 0 remSize(2) remSize(4) rgba(40, 41, 61, 0.04), 0 remSize(8) remSize(16) rgba(96, 97, 112, 0.16);

    .code-example-icon {
      color: $color-green-1;
    }

    .api-section-toggle-text,
    .api-section-toggle-icon-active {
      display: block;
    }

    .api-section-toggle-icon-non-active {
      display: none;
    }

  }
}

.btn-showcase {
  position: relative;
  top: -50px;
  right: 16px;
  float: right;
}

.telemetry-background-left {
  background: url("/assets/img/pages/telemetry/telemetry-background-right.svg") no-repeat center right;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateY(900px);

  @media (min-width: 420px) {
    transform: translateY(750px);
  }

  @media(min-width: $sm-start) {
    transform: translateY(1100px);
  }

  @media(min-width: $md-start) {
    transform: translateY(950px);
  }

  @media(min-width: $lg-start) {
    transform: translateY(1000px);
  }

  @media(min-width: $xl-start) {
    transform: translateY(325px);
  }

  @media(min-width: 1400px) {
    transform: translateY(375px);
  }

  @media(min-width: 1500px) {
    transform: translateY(400px);
  }

  @media(min-width: 1600px) {
    transform: translateY(500px);
  }
}

.telemetry-background-bottom {
  background: url("/assets/img/background/background-bottom.svg") no-repeat center right;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: -1;
  display: none;

  @media (min-width: 310px) {
    display: block;
    transform: translateY(2710px);
  }

  @media (min-width: 520px) {
    transform: translateY(2750px);
  }

  @media (min-width: $sm-start) {
    transform: translateY(2500px);
  }

  @media (min-width: 600px) {
    transform: translateY(2650px);
  }

  @media (min-width: $md-start) {
    transform: translateY(2155px);
  }

  @media (min-width: $lg-start) {
    transform: translateY(2200px);
  }

  @media (min-width: $xl-start) {
    transform: translateY(2200px);
  }

  @media (min-width: 1400px) {
    transform: translateY(2100px);
  }
}
