/* Pad a little bit for the navbar */
body {
  padding-top: 90px;
  position: relative;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -75px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
  height: 75px;
}

.footer {
  background-color: #f5f5f5;
}

.container .credit {
  margin: 10px 0;
}

.container-fluid {
  max-width: 800px;
  margin: 0 auto;
}

#github-logo {
  padding-bottom: 6px;
}

.jumbotron {
  background-color: #eeeeee;
}

img[alt=newrelic] { width: 100%; }
img[alt=statsD] { width: 100%; }

.btn-success {
  background-color: #29b068
}

.btn-success:hover {
  background-color: #39a069
}

.btn, .btn:hover {
  border: none !important;
  background-image: none !important;
}

.highlight table {
  width: 100%;
}

.highlight-license {
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
}


#doc-tree ul {
  list-style: none outside none;
  margin-left: 0px;
  padding-left: 6px;
}

.divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom:1px solid #e5e5e5;
 }

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


/* Green Navbar */
.navbar-default {
  background-image: none;
  background-color: #7ac04f;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-brand {
  padding-top: 7px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #9bd07a;
}

html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

code, kbd, pre, samp {
  font-family: Monaco,Consolas,"Courier New",monospace;
  font-weight: 500;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #666666;
}

h1, h2, .h1, .h2 {
  color: #464646;
}

p {
  text-align: justify;
}
