---
layout: default
title: 'Pricing Plans for Kamon APM'
description: 'Start for free with a Starter account and upgrade as you grow.'
---

<div class="background-top-gray-gray"></div>
<main class="default-content-container pricing-page">
  <section class="text-center w-100 mt-5">
    <h1 class="text-dark-1">
      Start for <span class="text-primary">Free</span>, upgrade as you <span class="text-primary">Grow</span>
    </h1>
    <p class="text-dark-2 text-body-bigger w-md-50 d-inline-block">
      Start monitoring now and think about the cost later. 
      <br>
      Monitor up to 5 microservices for free.
    </p>
    <div class="d-flex justify-content-center align-items-center billing-type-toggle">
      <h6 id="billed-monthly-label" class="cursor-pointer mx-2 text-dark-2">Billed monthly</h6>
      <input type="checkbox" id="billed-annually-switch" class="mx-2 billed-annually-checkbox"/>
      <label for="billed-annually-switch" class="billed-annually-switch"></label>
      <h6 id="billed-annually-label" class="cursor-pointer mx-2 text-dark-2">Billed annually</h6>
      <div class="mx-2 text-tag-green d-inline-block">
        Save 20%
      </div>
    </div>

    {% include pricing-models.html %}

  </section>

  {% include start-monitoring-banner.html %}

  <section class="w-100 text-center">
    <h2 class="text-dark-1">Frequently Asked Questions</h2>

    <div class="mt-5 d-inline-block accordion w-xl-75" id="question-faq">
      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-1-heading" data-toggle="collapse" data-target="#question-1-text" aria-controls="question-1-text">
          <h5 class="mb-0">
            Do I have to pay for Kamon Telemetry?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-1-text" class="collapse" aria-labelledby="question-1-heading" data-parent="#question-1-heading">
          <p class="text-dark-2">
            Nope. Kamon Telemetry is and will always be free and open source.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-2-heading" data-toggle="collapse" data-target="#question-2-text" aria-controls="question-2-text">
          <h5 class="mb-0">
            What are you charging for?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-2-text" class="collapse" aria-labelledby="question-2-heading" data-parent="#question-2-heading">
          <p class="text-dark-2">
            The pricing plans apply only to Kamon APM. You can monitor up to 5 microservices for free with Kamon APM.
            <br/><br/>
            If your needs grow out of our Free plan you can upgrade to the Grow plan.
            The cost can be boiled down to &euro;1 per service per day.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-3-heading" data-toggle="collapse" data-target="#question-3-text" aria-controls="question-3-text">
          <h5 class="mb-0">
            How do you charge?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-3-text" class="collapse" aria-labelledby="question-3-heading" data-parent="#question-3-heading">
          <p class="text-dark-2">
            At the end of the month we add <b>&euro;1</b> for each day a service was active, and <b>&euro;1</b> for each
            extra million spans. That's it.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-5-heading" data-toggle="collapse" data-target="#question-5-text" aria-controls="question-5-text">
          <h5 class="mb-0">
            What if I need a custom plan?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-5-text" class="collapse" aria-labelledby="question-5-heading" data-parent="#question-5-heading">
          <p class="text-dark-2">
            We can accommodate more metrics, spans and retention for you.
            Contact us via email at <a href="mailto:hello@kamon.io">hello@kamon.io</a>.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-6-heading" data-toggle="collapse" data-target="#question-6-text" aria-controls="question-6-text">
          <h5 class="mb-0">
            What languages/frameworks does Kamon support?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-6-text" class="collapse" aria-labelledby="question-6-heading" data-parent="#question-6-heading">
          <p class="text-dark-2">
            Kamon works with any JVM language like Java and Scala. But it’s going to work especially awesome with <b>Akka and Play Framework</b>. 
            <br/><br/>
            If there is a language or framework you would like to see supported, drop us an email at <a href="mailto:hello@kamon.io">hello@kamon.io</a>.
            Just write what you want, don't overthink it.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-7-heading" data-toggle="collapse" data-target="#question-7-text" aria-controls="question-7-text">
          <h5 class="mb-0">
            What is the overhead of monitoring services with Kamon?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-7-text" class="collapse" aria-labelledby="question-7-heading" data-parent="#question-7-heading">
          <p class="text-dark-2">
            The typical performance impact of Kamon is between 1% and 3%. If you notice anything above that, please contact our support and we will help you optimize it.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-8-heading" data-toggle="collapse" data-target="#question-8-text" aria-controls="question-8-text">
          <h5 class="mb-0">
            How do test environments work?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-8-text" class="collapse" aria-labelledby="question-8-heading" data-parent="#question-8-heading">
          <p class="text-dark-2">
            Test environments have limited retention of 24 hours and can be used for monitoring staging, development and pre-production environments services, absolutely free of charge.
            Only included in the Grow plan.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-9-heading" data-toggle="collapse" data-target="#question-9-text" aria-controls="question-9-text">
          <h5 class="mb-0">
            How often will you charge me?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-9-text" class="collapse" aria-labelledby="question-9-heading" data-parent="#question-9-heading">
          <p class="text-dark-2">
            We charge at the beginning of every month.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-13-heading" data-toggle="collapse" data-target="#question-13-text" aria-controls="question-13-text">
          <h5 class="mb-0">
            Will you charge if my services are down?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-13-text" class="collapse" aria-labelledby="question-13-heading" data-parent="#question-13-heading">
          <p class="text-dark-2">
            No. You will only be charged for the days your services sent data to Kamon APM.
          </p>
        </div>
      </div>      

<!--      <div class="faq-question-container text-left">-->
<!--        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-13-heading" data-toggle="collapse" data-target="#question-13-text" aria-controls="question-13-text">-->
<!--          <h5 class="mb-0">-->
<!--            Will you charge me if my services are down?-->
<!--          </h5>-->
<!--          <i class="fa fa-angle-down"></i>-->
<!--          <i class="fa fa-angle-up"></i>-->
<!--        </div>-->

<!--        <div id="question-13-text" class="collapse" aria-labelledby="question-13-heading" data-parent="#question-13-heading">-->
<!--          <p class="text-dark-2">-->
<!--            Nope. You will be charged only the hours your services and instances were sending data.-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-10-heading" data-toggle="collapse" data-target="#question-10-text" aria-controls="question-10-text">
          <h5 class="mb-0">
            What type of support is available?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-10-text" class="collapse" aria-labelledby="question-10-heading" data-parent="#question-10-heading">
          <p class="text-dark-2">
            We offer community support through <a href="https://github.com/kamon-io/Kamon/discussions" target="_blank">GitHub Discussions</a>, live chat in Kamon APM, and you can always request
            a one-on-one session.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-11-heading" data-toggle="collapse" data-target="#question-11-text" aria-controls="question-11-text">
          <h5 class="mb-0">
            How do I start using Kamon?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-11-text" class="collapse" aria-labelledby="question-11-heading" data-parent="#question-11-heading">
          <p class="text-dark-2">
            Click on the "Start Monitoring" links and follow the instructions. It should take you 3 minutes to get started.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-12-heading" data-toggle="collapse" data-target="#question-12-text" aria-controls="question-12-text">
          <h5 class="mb-0">
            What are services, metrics and traces?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-12-text" class="collapse" aria-labelledby="question-12-heading" data-parent="#question-12-heading">
          <p class="text-dark-2">
            Happy you want to know more. Please head to our <a href="/docs/latest/overview">Docs</a> page, there are plenty of resources there.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center mt-5 w-100">
    {% include user-quotes.html dark-background=true %}
  </section>
</main>
