---
layout: default
title: 'Pricing Plans for Kamon APM'
description: 'Start for free with a Starter account and upgrade as you grow.'
---

<main class="default-content-container">
  <section class="text-center w-100">
    <h1 class="text-dark-1">
      Start for <span class="text-primary">FREE</span>, upgrade as you <span class="text-primary">GROW</span>
    </h1>
    <p class="text-dark-2 text-body-bigger w-md-50 d-inline-block">
      If you’re here looking for a monitoring tool, it’s obvious you don’t like surprises.
      Your monitoring bill should never be a surprise!
    </p>
    <div>
      <h6 class="mx-2 d-inline-block text-dark-2">Billed monthly</h6>
      <a class="mx-2 btn btn-sm btn-secondary">toggle</a>
      <h6 class="mx-2 d-inline-block text-dark-2">Billed annually</h6>
      <div class="mx-2 text-tag-green d-inline-block">
        20% off
      </div>
    </div>

    {% include pricing-models.html %}

  </section>

  <section class="background-primary w-100 my-5 d-flex flex-column flex-xl-row align-items-center">
    <div class="w-100">
      <h2>Start Free, grow at your own pace!</h2>
      <p class="text-body-bigger">Kamon free account comes with no expiration date. No credit card required.</p>
    </div>
    <div class="text-right">
      <a class="btn btn-secondary btn-lg" href="#">Start Monitoring Free</a>
    </div>
  </section>

  <section class="row no-gutters w-100">
    <div class="col-12 col-xl-4 p-3">
      <div class="elevated-container overflow-hidden h-100">
        <div class="top-color-azure-radiance"></div>
        <div class="p-5 d-flex align-items-center text-center h-100">
          <h6 class="text-dark-1">
            Simple pricing, no hidden cost
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 p-3">
      <div class="elevated-container overflow-hidden h-100">
        <div class="top-color-shamrock"></div>
        <div class="p-5 d-flex align-items-center text-center">
          <h6 class="text-dark-1">
            Monitor your infrastructure free of charge
          </h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-4 p-3">
      <div class="elevated-container overflow-hidden h-100">
        <div class="top-color-everglade"></div>
        <div class="p-5 d-flex align-items-center text-center">
          <h6 class="text-dark-1">
            Monitor your test environments at no extra cost
          </h6>
        </div>
      </div>
    </div>
  </section>

  <div class="d-none d-xl-block w-50 text-secondary"><hr/></div>

  <section class="w-100 text-center">

    <h2 class="text-dark-1">Frequently Asked Questions</h2>

    <!--  ACCORDION FAQ  -->
    <div class="mt-5 d-inline-block accordion w-xl-75" id="question-faq">
      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-1-heading" data-toggle="collapse" data-target="#question-1-text" aria-controls="question-1-text">
          <h5 class="mb-0">
            Do I have to pay for instrumentation?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-1-text" class="collapse" aria-labelledby="question-1-heading" data-parent="#question-1-heading">
          <p class="text-dark-2">
            Nope. All Kamon instrumentation has been, is, and will always be free and open source.
            The instrumentation is released under the Apache V2 license and available on <a href="https://github.com/kamon-io/" target="_blank">Github</a>.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-2-heading" data-toggle="collapse" data-target="#question-2-text" aria-controls="question-2-text">
          <h5 class="mb-0">
            So, what am I paying for?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-2-text" class="collapse" aria-labelledby="question-2-heading" data-parent="#question-2-heading">
          <p class="text-dark-2">
            Kamon APM is, obviously, an Application Performance Monitoring tool for monitoring and debugging distributed systems.
            You don't have to pay for anything to try it out, you can start monitoring up to 5 microservices for free right now!
            <br/><br/>
            If your needs grow out of our free plan you can upgrade to the GROWTH plan.
            The cost is super simple and can be boiled down to 1 EUR/service per day or 30 EUR/service monthly.
            We never start charging without your confirmation.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-3-heading" data-toggle="collapse" data-target="#question-3-text" aria-controls="question-3-text">
          <h5 class="mb-0">
            How do you charge?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-3-text" class="collapse" aria-labelledby="question-3-heading" data-parent="#question-3-heading">
          <p class="text-dark-2">
            The total we are billing each customer at the end of the month depends on the number of active services and the number of additional spans sent.
            Please see <a href="/apm/pricing">here a detailed breakdown</a> on our pricing model and how an invoiced fee would be calculated.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-4-heading" data-toggle="collapse" data-target="#question-4-text" aria-controls="question-4-text">
          <h5 class="mb-0">
            Do I need a credit card to sign up for free plan?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-4-text" class="collapse" aria-labelledby="question-4-heading" data-parent="#question-4-heading">
          <p class="text-dark-2">
            No credit card required. We want you to pay for Kamon because you have experienced and enjoyed Kamon APM and understood its value.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-5-heading" data-toggle="collapse" data-target="#question-5-text" aria-controls="question-5-text">
          <h5 class="mb-0">
            What if I need a custom plan?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-5-text" class="collapse" aria-labelledby="question-5-heading" data-parent="#question-5-heading">
          <p class="text-dark-2">
            We can accommodate more metrics, spans and retention for you.
            Contact us through Intercom (the message bubble on the bottom-right corner of the screen) or via email at <a href="mailto:sales@kamon.io">sales@kamon.io</a>.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-6-heading" data-toggle="collapse" data-target="#question-6-text" aria-controls="question-6-text">
          <h5 class="mb-0">
            What languages/frameworks does Kamon support?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-6-text" class="collapse" aria-labelledby="question-6-heading" data-parent="#question-6-heading">
          <p class="text-dark-2">
            Kamon works best with any JVM language like Java and Scala. But it’s going to work especially awesome with Akka and Play frameworks. For now.
            <br/><br/>
            We do plan on adding other frameworks and languages.
            If there is a language or a framework you would particularly like to see supported, just drop us an email at <a href="mailto:sales@kamon.io">sales@kamon.io</a>.
            Just write what you want, don't overthink it.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-7-heading" data-toggle="collapse" data-target="#question-7-text" aria-controls="question-7-text">
          <h5 class="mb-0">
            What is the overhead of monitoring services with Kamon?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-7-text" class="collapse" aria-labelledby="question-7-heading" data-parent="#question-7-heading">
          <p class="text-dark-2">
            Typical performance impact of Kamon is between 1 and 3 percent. If you notice anything above that, please contact our support and we will make sure to optimize it.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-8-heading" data-toggle="collapse" data-target="#question-8-text" aria-controls="question-8-text">
          <h5 class="mb-0">
            How do test environments work?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-8-text" class="collapse" aria-labelledby="question-8-heading" data-parent="#question-8-heading">
          <p class="text-dark-2">
            The non-production environments have limited retention of 24 hours and can be used for monitoring staging, development and pre-production environments, absolutely free of charge.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-9-heading" data-toggle="collapse" data-target="#question-9-text" aria-controls="question-9-text">
          <h5 class="mb-0">
            How often will you charge me?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-9-text" class="collapse" aria-labelledby="question-9-heading" data-parent="#question-9-heading">
          <p class="text-dark-2">
            We will charge your credit card at the beginning of every month for all usage incurred in  the previous month.
          </p>
        </div>
      </div>

<!--      <div class="faq-question-container text-left">-->
<!--        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-13-heading" data-toggle="collapse" data-target="#question-13-text" aria-controls="question-13-text">-->
<!--          <h5 class="mb-0">-->
<!--            Will you charge me if my services are down?-->
<!--          </h5>-->
<!--          <i class="fa fa-angle-down"></i>-->
<!--          <i class="fa fa-angle-up"></i>-->
<!--        </div>-->

<!--        <div id="question-13-text" class="collapse" aria-labelledby="question-13-heading" data-parent="#question-13-heading">-->
<!--          <p class="text-dark-2">-->
<!--            Nope. You will be charged only the hours your services and instances were sending data.-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-10-heading" data-toggle="collapse" data-target="#question-10-text" aria-controls="question-10-text">
          <h5 class="mb-0">
            What type of support is available?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-10-text" class="collapse" aria-labelledby="question-10-heading" data-parent="#question-10-heading">
          <p class="text-dark-2">
            If something went wrong during your setup, you have some feature request or in general just want to hang out with us and talk about your experience with Kamon in general,
            head over to our <a href="https://github.com/kamon-io/Kamon/discussions" target="_blank">Github Discussions</a> and say it all.
            <br/><br/>
            Kamon APM users can reach us on Intercom anytime for one-on-one support.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-11-heading" data-toggle="collapse" data-target="#question-11-text" aria-controls="question-11-text">
          <h5 class="mb-0">
            How do I start using Kamon?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-11-text" class="collapse" aria-labelledby="question-11-heading" data-parent="#question-11-heading">
          <p class="text-dark-2">
            It really shouldn't take you more than 3 minutes!
            Check our <a href="/get-started/">Get Started with Kamon</a> page for step-by-step instructions on how to start instrumenting your service.
            Or go to <a href="https://apm.kamon.io/onboarding" target="_blank">Kamon APM Onboarding</a> and just follow the instructions there.
          </p>
        </div>
      </div>

      <div class="faq-question-container text-left">
        <div class="faq-question-header d-flex align-items-center justify-content-between" id="question-12-heading" data-toggle="collapse" data-target="#question-12-text" aria-controls="question-12-text">
          <h5 class="mb-0">
            What are services and instances, traces and metrics?
          </h5>
          <i class="fa fa-angle-down"></i>
          <i class="fa fa-angle-up"></i>
        </div>

        <div id="question-12-text" class="collapse" aria-labelledby="question-12-heading" data-parent="#question-12-heading">
          <p class="text-dark-2">
            Happy you want to know more. Please head to our <a href="/docs/latest/overview">Docs</a> page, there are plenty of resources there.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--   USER QUOTES   -->
  <section class="text-center mt-5 w-100">
    {% include user-quotes.html dark-background=true %}
  </section>
</main>
