// .docs-search-container {

//   .docs-search-field {
//     @include custom-text-field;

//     &::placeholder {
//       // background-image: url("/assets/img/icons/search-icon.svg");
//       background-size: 1rem;
//       background-position: right;
//       background-repeat: no-repeat;
//     }
//   }

//   .docs-results-absolute {
//     position: absolute;
//     background-color: white;
//     z-index: 1003;
//     display: block;
//     max-height: 300px;
//     overflow: auto;
//     text-align: left;
//     padding: 0.5rem;
//     margin-top: 0.25rem;

//     @include custom-scrollbar;

//     .search-result-link {
//       color: $color-dark-2;
//       display: inline-block;
//       padding: 0.5rem;

//       &:hover {
//         text-decoration: none;
//         background-color: $color-light-3;
//         border-radius: 8px;
//       }

//       .highlighted {
//         color: $color-shamrock-main;
//         background-color: $color-green-4;
//         border-radius: 5px;
//       }
//     }
//   }
// }


