.footer {
  background-color: $color-dark-0;
  color: $color-light-4;

  .footer-content {
    padding-top: 30px;
    max-width: 1200px;
    margin: auto;

    .footer-try-kamon-button-container {
      height: 250px;
      background: no-repeat center url("/assets/img/background/footer-start-monitoring-btn-background.svg");
    }

    .footer-navigation-container {
      border-top: 1px solid $color-dark-2;
      border-bottom: 1px solid $color-dark-2;
      padding: 20px 0;

      .footer-subscribe-btn {
        margin-left: -5px;
      }
    }

    .footer-bottom {
      margin-top: 10px;
      height: 60px;
    }

    @media (max-width: 1400px) {
      max-width: 900px;
    }
  }
}
