.app-header {
  height: $navbar-height;

  .header-content {
    max-width: 1200px;

    .header-submenu-container {
      max-width: 573px;
      min-width: 573px;

      .header-submenu-item {
        border-radius: 8px;

        &:hover {
          background-color: $color-light-3;

          h6 {
            color: $color-shamrock-main;
          }
        }
      }
    }

    li.nav-item.dropdown {
      a.nav-link::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 2px solid $color-dark-2;
        border-left: 2px solid $color-dark-2;
        transform: translate(5px, -3px) rotate(-135deg);
      }

      &.show {
        a.nav-link {
          color: $color-dark-1;
        }
        a.nav-link::after {
          transform: translate(5px, -3px) rotate(45deg);
          border-top: 2px solid $color-dark-1;
          border-left: 2px solid $color-dark-1;
        }
      }
    }
  }

  &.header-background-color, &.header-background-fixed {
    background-color: $color-light-4;
    border-bottom: 1px solid $color-light-1;
  }
}


#mobileNavigationOverlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1031;
  left: 0;
  top: 0;
  background-color: $color-dark-1;
  overflow-x: hidden;
  color: $color-light-4;

  ul {
    padding-left: 0;
  }

  .mobile-nav-list {
    list-style: none;

    li > a {
      color: $color-light-4;
      text-decoration: none;
    }
  }

  .products-collapse {
    cursor: pointer;
    @include angle-up-down-expanders;
  }

  #products-collapse-text {
    a {
      color: $color-light-4;
      text-decoration: none;
    }
  }
}
