.header-content {
  max-width: 1200px;

  .header-submenu-container {
    max-width: 573px;
    min-width: 573px;

    .header-submenu-item {
      border-radius: 8px;

      &:hover {
        background-color: $color-light-3;

        h6 {
          color: $color-shamrock-main;
        }
      }
    }
  }

  li.nav-item.dropdown {
    a.nav-link::after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-top: 1px solid $color-dark-0;
      border-left: 1px solid $color-dark-0;
      transform: translate(5px, -3px) rotate(-135deg);
    }

    &.show {
      a.nav-link::after {
        transform: translate(5px) rotate(45deg);
      }
    }
  }
}

.header-background-colour, .header-background-fixed {
  background-color: $color-light-4;
  border-bottom: 1px solid $color-light-1;
}

#mobileNavigationOverlay {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1031;
  left: 0;
  top: 0;
  background-color: $color-dark-1;
  overflow-x: hidden;
  transition: 0.5s;
  color: $color-light-4;

  ul {
    padding-left: 0;
  }

  .mobile-nav-list {
    list-style: none;

    li > a {
      color: $color-light-4;
      text-decoration: none;
    }
  }

  .products-collapse {
    cursor: pointer;

    .fa.fa-angle-up {
      display: none;
    }

    &[aria-expanded=true] {

      .fa.fa-angle-up {
        display: inline-block;
      }

      .fa.fa-angle-down {
        display: none;
      }
    }
  }

  #products-collapse-text {
    a {
      color: $color-light-4;
      text-decoration: none;
    }
  }
}
