.pricing-models {

  .pricing-model-image {
    min-height: 175px;
  }

  .pricing-model-price {
    min-height: 110px;
  }

  .pricing-model-details {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-top: 1rem;

      img {
        margin-right: 0.25rem;
      }
    }
  }

  .vertical-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    border-right: 1px solid $color-light-1;
  }
}
