@import url(/assets/css/prism.css);
@import "code";

.docs-search-container {
  input {
    padding: 8px 16px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid $color-dark-4;
  }

  .docs-results-absolute {
    right: 0px;
    position: absolute;
    background-color: white;
    z-index: 1003;
    display: block;
    max-height: 450px;
    overflow: auto;
    text-align: left;
    padding: 0.5rem;
    width: 50vw;

    @include custom-scrollbar;

    .search-result-link {
      color: $color-dark-2;
      display: inline-block;
      padding: 8px 16px;
      width: 100%;

      &:hover {
        text-decoration: none;
        background-color: $color-light-3;
        border-radius: 8px;
      }

      .highlighted {
        color: $color-shamrock-main;
        background-color: $color-green-4;
        border-radius: 5px;
      }
    }
  }
}

body.has-notification {

  .docs-header {
    margin-top: $notification-bar-height;
  }

  .docs-navbar {
    top: $notification-bar-height + $navbar-height;
  }

  .sticky-docs-navbar {
    top: calc(57px + 52px + #{$notification-bar-height} + 3rem);
  }

  :target:before {
    content: "";
    display: block;
    height: 170px + $notification-bar-height;
    margin: (-170px + $notification-bar-height) 0 0;
  }
  
}

.sticky-docs-navbar {
  position: sticky;
  top: calc(57px + 52px + 3rem);
}

.docs-navbar {
  z-index: 101;
  height: $docs-navbar-height;
  background-color: $color-light-4;
  border-bottom: 1px solid $color-light-1;
  position: sticky;
  top: $navbar-height;

  .active {
    border-bottom: 3px solid $color-shamrock-main;
    margin-bottom: -20px;
  }
}

.docs-sidebar-nav, .docs-mobile-navigation-container {
  $sidebar-vertical-margin: 120px;

  border-radius: 8px;
  background-color: $color-light-3;
  max-height: calc(100vh - #{$docs-navbar-height} - #{$navbar-height} - #{$sidebar-vertical-margin});

  .docs-sidebar-scroll {
    max-height: calc(100vh - #{$docs-navbar-height} - #{$navbar-height} - #{$sidebar-vertical-margin});
    @include custom-scrollbar;
  }

  ul {
    list-style: none;
    padding-left: 1rem;

    li {
      position: relative;

      .docs-sidebar-link {
        display: inline-block;
        padding: 0.5rem 1rem;
        padding-right: 1.5rem;
        border-radius: 8px;
        width: 100%;

        &:hover {
          background-color: $color-light-2;
        }

        &.active {
          color: white;
          background-color: $color-shamrock-main;
          font-weight: bold;;
        }
      }

      a {
        color: $color-dark-1;
      }
    }
  }
}


.collapse-caret {
  ::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 3px solid $color-dark-3;
    border-left: 3px solid $color-dark-3;
    transform: translate(8px, -2px) rotate(135deg);
    transition: 0.2s;
  }

  &.collapsed{
    ::after {
      transform: translate(8px, -4px) rotate(225deg);
    }
  }
}

.mobile-docs-navbar {
  background-color: $color-light-4;
  border-bottom: 1px solid $color-light-1;
  z-index: 101;
  height: 52px;
  position: fixed;
  top: $navbar-height;
  width: 100%;
}

#mobile-docs-navigation {
  position: fixed;
  // top: calc(57px + 52px);
  background-color: $color-light-3;
  // z-index: 1001;

  height: calc(100% - 57px - 52px);
  @include custom-scrollbar;
}

.docs-container {
  line-height: 1.6rem;

  a {
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6 {
    .heading-anchor {
      position: relative;
      // top: -500px;
      display: none;
    }

    &:hover {
      .heading-anchor {
        display: inline-block;
      }
    }
  }
  

  h1 {
    font-size: remSize(34);
    line-height: remSize(38);
  
    @media (max-width: $xs-max) {
      font-size: remSize(20);
      line-height: remSize(24);
    }
  }
  
  h2 {
    margin-top: 2rem;
    font-size: remSize(26);
    line-height: remSize(30);
  
    @media (max-width: $xs-max) {
      font-size: remSize(16);
      line-height: remSize(20);
    }
  }
  
  h3 {
    margin-top: 2rem;
    font-size: remSize(24);
    line-height: remSize(30);
  
    @media (max-width: $xs-max) {
      font-size: remSize(15);
      line-height: remSize(20);
    }
  }
  
  h4 {
    font-size: remSize(18);
    line-height: remSize(22);
  
    @media (max-width: $xs-max) {
      font-size: remSize(15);
      line-height: remSize(20);
    }
  }
  
  h5 {
    font-size: remSize(15);
    line-height: remSize(20);
  
    @media (max-width: $xs-max) {
      font-size: remSize(15);
      line-height: remSize(20);
    }
  }
  
  h6 {
    font-size: remSize(14);
    line-height: remSize(18);
  
    @media (max-width: $xs-max) {
      font-size: remSize(14);
      line-height: remSize(18);
    }
  }
}

.docs-mobile-navigation-container {

  ul {
    list-style: none;
    padding-left: 1.5rem;

    li {
      margin-top: 1rem;

      a {
        color: $color-dark-1;
      }
    }
  }

  .section-collapse {
    cursor: pointer;
    @include angle-up-down-expanders;
  }
}
