@import url(/assets/css/prism.css);
@import "code";

.publish-details {
  p {
    margin: 0;
  }
}

.sticky-posts-actions {
  @media (min-width: $lg-start) {
    position: sticky;
    top: calc(57px + 24px + 3rem);
  }
}

.post-cover-image-container {
  margin-top: -32px;
}

.post-cover-image {
  transform: translateY(80px);
  border-radius: .5rem;
  max-height: 440px;
}

.post-title {
  font-size: remSize(40);
  line-height: 1.4;
  font-weight: bold;
}

.blog-post-heading-container {
  margin-top: 80px;

  @media (min-width: $lg-start) {
    margin-top: 120px;
  }
}

.post-content-wrapper {
  padding-top: 40px;

  &.spaced-out {
    padding-top: 120px;
  }
}

.post-content {
 
  h2, h3, h4, h5  {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 3rem;
  }

  p, ul {
    line-height: remSize(28);
    font-size: remSize(18);
  }
}

.share-button,
.contact-button {
  border-radius: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background: $color-shamrock-main no-repeat center;

  &:hover {
    background-color: $color-shamrock-darker;
  }

  &.twitter-share,
  &.twitter-link {
    background-image: url("/assets/img/icons/external-brand-and-logo/twitter-white.svg");
  }

  &.reddit-share {
    background-image: url("/assets/img/icons/external-brand-and-logo/reddit-white.svg");
  }

  &.linkedin-share {
    background-image: url("/assets/img/icons/external-brand-and-logo/linkedin-white.svg");
  }
}

.pricing-banner-background {
  background-color: $color-shamrock-main;
  border-radius: 8px;
  box-shadow: -1.5rem 1.5rem 0 0 $color-green-4;
  color: $color-light-4;
  background-image: url("/assets/img/background/cubes-pattern.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 2rem;

  @media (min-width: $md-start) {
    padding: 3rem;
  }
}

.toc-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $color-dark-1;
  text-transform: uppercase;
}

.table-of-contents {
  list-style: none;
  padding: 0;
  margin: 0;

  .toc-item {
    padding: 12px 16px;
    border-radius: 8px;

    a {
      color: $color-dark-1;
      font-weight: bold;
    }

    &:hover {
      background-color: $color-green-4;

      a {
        color: $color-green-1;
      }
    }
  }
}

.blog-related-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  min-height: 536px;
  padding: 0;

  .blog-card {
    min-height: 492px;
  }

  @media (min-width: $lg-start) {
    display: block;
    padding: 0 72px;
  }

  .carousel {
    padding-bottom: 36px;
  }

  .carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: $color-dark-2;
    border-radius: 100%;
    opacity: 0.2;
    transition: opacity 200ms linear;

    &.active {
      opacity: 1;
    }
  }
}

.previous-blog-btn,
.next-blog-btn {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-decoration: none;
  cursor: pointer;

  img {
    width: 26px;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.previous-blog-btn {
  left: 8px;
}

.next-blog-btn {
  right: 8px;
}

.carousel-heading {
  font-weight: 700;
}
