<div class="blog-sidebar">
  <div class="row align-items-center justify-content-end kamino-docs-top sponsored-by-kamino">
    <div>
        <a href="https://kamino.io">
          <img class="img-fluid" alt="Sponsored by Kamino" src="/assets/img/sponsored-by-kamino.svg">
        </a>
    </div>
  </div> 

  <div class="row">
    <div class="col-12">
    <h4 class="sidebar-title">Latest Releases</h4>
      <div class="recent-post">
        {% for post in site.categories.releases limit:3 %}
          <h4><a href="{{ post.url }}" class="sidebar-post">{{ post.title }}</a></h4>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3 class="sidebar-title">Latest Posts</h3>
      <div class="recent-post">
        {% for post in site.categories.posts limit:8 %}
          <h4><a href="{{ post.url }}" class="sidebar-post">{{ post.title }}</a></h4>
          <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
