{% assign module_tree = site.pages | extract_module_tree: page.url %}
{% assign module_pages = module_tree.pages | sort: 'tree_index' %}

<section>
  <div class="tree tree-toggler docs-level-one row justify-content-between align-items-center">
    <span>
      {{ module_tree.name }}
    </span>

    <div class="dropdown version-dropdown">
      <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ module_tree.current_version }}
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for version in module_tree.versions %}
          <a class="dropdown-item" href="/documentation/{{ module_tree.name }}/{{ version }}/overview/">{{ version }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <ul>
    {% for module_page in module_pages %}
      <li><a class="docs-level-three" href="{{ module_page.url }}">{{ module_page.tree_title }}</a></li>
    {% endfor %}

    {% for module_section in module_tree.sections %}
      <li>
      <label class="tree-toggler tree docs-level-two">{{ module_section.name | capitalize }}</label>
      <ul class="tree tree-toggler">
        {% assign section_pages = module_section.pages | sort: 'tree_index' %}
        {% for section_page in section_pages %}
          <li><a class="docs-level-three" href="{{ section_page.url }}">{{ section_page.tree_title }}</a></li>
        {% endfor %}
      </ul>
      </li>
    {% endfor %}
</section>