---
layout: default
---

<div class="docs-header-bar">
  <div class="container">
    <div id="docs-title" class="row">
      <div class="col mt-4">
        <h4>Blog</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div id="docs-navigation-links" class="col docs-header-bar-tabs">
        <ul>
          <li>
            <a class="{% if current_section == 'overview' %}active{% endif %}" href="/blog/">ALL POSTS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="blog-content-wrapper">
  {{ content }}
</div>