<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">

    {% include includes-head.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include onboarding-modal.html %}
    {% include includes-tail.html %}
  </body>
</html>
