<!DOCTYPE html>
<html lang="en">
  <head>
    {% if page.load_optimize %}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WMKLGW6"></script>
    {% endif %}

    {% if page.noindex %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <title>{{ page.title }} | Kamon</title>
    <script defer data-domain="kamon.io" data-api="/assets/js/p/e" src="/assets/js/p.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_us">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://kamon.io{{ page.url }}">

    {% if page.layout == 'post' %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date }}">
      {% if page.last_update %}
      <meta property="article:modified_time" content="{{ page.last_update }}">
      {% endif %}
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="{{ page.description }}">
    <meta property="twitter:site" content="@kamonteam">

    {% if page.cover_image %}
    <meta name="robots" content="max-image-preview:large">
    <meta property="og:image" content="https://kamon.io{{ page.cover_image }}">
    <meta property="twitter:image" content="https://kamon.io{{ page.cover_image }}">
    {% else %}
    <meta property="og:image" content="https://kamon.io/assets/img/og/og-kamon.png">
    <meta property="twitter:image" content="https://kamon.io/assets/img/og/og-kamon.png">
    {% endif %}

    {% include includes-head.html %}
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include onboarding-modal.html %}
    {% include includes-tail.html %}
  </body>
</html>
