---
layout: default
---
{% assign path_sections = page.url | split: '/' %}
{% assign current_version = path_sections[2] %}
{% assign current_section = path_sections[3] | remove_first: '.html' %}
{% assign sidebar_data = site.data.docs[current_version].documentation[current_section] %}
{% assign documentation_data = site.data.docs[current_version].documentation %}
{% assign all_sections = 'guides, core, instrumentation, reporters' | split: ', ' %}
{% assign version_prefix = page.path | split: '/' | slice: 0, 2 | join: '/' %}
{% assign current_pretty_path = page.url | remove_first: '.html' %}

<div class="d-none d-lg-block bg-lightest docs-header">
  <div class="container">
    <div class="row py-4">
      <h2 class="col-12">Documentation</h2>
      <div class="col-auto">
        {% include docs-version-select.html %}
      </div>
    </div>
  </div>
</div>

<nav id="docs-header" class="d-none d-lg-block docs-navbar">
  <div class="container h-100">
    <div class="row align-items-center justify-content-between h-100">
      <div class="col-auto">
        <div class="row">
          <div class="{% if current_section == 'guides' %}active{% endif %} px-3">
            <a class="no-decoration" href="/docs/{{current_version}}/guides/"><b class="py-4">Guides</b></a>
          </div>
          <div class="{% if current_section == 'core' %}active{% endif %} px-3">
            <a class="no-decoration" href="/docs/{{current_version}}/core/"><b class="py-4">Core</b></a>
          </div>
          <div class="{% if current_section == 'instrumentation' %}active{% endif %} px-3">
            <a class="no-decoration" href="/docs/{{current_version}}/instrumentation/"><b class="py-4">Instrumentation</b></a>
          </div>
          <div class="{% if current_section == 'reporters' %}active{% endif %} px-3">
            <a class="no-decoration" href="/docs/{{current_version}}/reporters/"><b class="py-4">Reporters</b></a>
          </div>
        </div>
      </div>
      <div class="col-auto">
        {% include docs-search.html id="desktop" %}
      </div>
    </div>
  </div>
</nav>

<!-- NEED TO CHECK THIS ONE -->
<nav class="d-lg-none mobile-docs-navbar" role="button">
  <div class="d-flex align-items-center h-100" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
    <button id="mobile-docs-navigation-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/assets/img/icons/docs-mobile-menu-icon.svg" class="d-inline-block align-top" alt="Menu expander icon">
    </button>
    <h4 class="d-inline mb-0" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">Documentation</h4>
  </div>



  <div class="collapse navbar-collapse w-100 py-4 px-3" id="mobile-docs-navigation">
    <div class="">
      {% include docs-version-select.html %}
      {% include docs-search.html %}
    </div>
    <div class="p-1 docs-mobile-navigation-container">
      {% for section in all_sections %}
        <div class="section-collapse {% if section != current_section %}collapsed{% endif %}" id="section-collapse-heading-{{ section }}" aria-expanded="{% if section == current_section %}true{% else %}false{% endif %}" data-toggle="collapse" data-target="#section-collapse-text-{{ section }}" aria-controls="section-collapse-text-{{ section }}">
          <div class="d-flex justify-content-between w-100 mt-3 text-dark-2">
            <h6 class="text-capitalize ml-2 mb-0">{{ section }}</h6>
          </div>
        </div>
  
        <div id="section-collapse-text-{{ section }}" class="collapse pl-3 {% if section == current_section %}show{% endif %}" aria-labelledby="section-collapse-heading-{{ section }}" data-parent="#section-collapse-heading-{{ section }}">
          <ul class="mobile-docs-navigation-sections pr-2">
            {% for topic in site.data.docs[current_version].documentation[section] %}
            <li class="mb-4">
              <div class="text-light">{{ topic.topic }}</div>
              <ul>
                {% for topic_page in topic.pages %}
                  {% if topic_page.pages %}
                    <li>
                      <div class="text-dark-3">{{topic_page.name}}</div>
                      <ul>
                        {% for topic_sub_page in topic_page.pages %}
                          {% assign topic_sub_page_path = topic_sub_page.path | prepend: version_prefix | prepend: '/' %}
                          {% assign current_path = current_pretty_path | append: '/' %}
                          <li class="{% if topic_sub_page_path == current_path %}current-active-topic{% endif %}">
                            <a href="{{topic_sub_page_path}}">{{topic_sub_page.name}}</a>
                            {% if topic_sub_page_path == current_path %}
                            <div id="markdown-toc-container-mobile"></div>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
  
                  {% else %}
                    {% assign topic_page_path = topic_page.path | prepend: version_prefix | prepend: '/' %}
                    {% assign current_path = current_pretty_path | append: '/' %}
                    <li class="{% if topic_page_path == current_path %}current-active-topic{% endif %}">
                      <a href="{{topic_page_path}}">{{topic_page.name}}</a>
                      {% if topic_page_path == current_path %}
                        <div id="markdown-toc-container-mobile"></div>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
        <hr/>
      {% endfor %}
    </div>
  </div>
</nav>






<div class="container-lg my-5">
  <div class="row">
    {% if sidebar_data %}
      <div id="docs-sidebar" class="d-none d-lg-block col-3 docs-sidebar-nav d-none d-lg-block sticky-docs-navbar p-1">
        <div class="docs-sidebar-scroll">
          <ul class="docs-sections pr-2">
            {% for topic in sidebar_data %}
              <li>
                <div class="text-light py-3">{{ topic.topic }}</div>
                  <ul class="pl-1">
                    {% for topic_page in topic.pages %}
                      {% if topic_page.pages %}
                        <li>
                          <a class="text-secondary collapse-caret" data-toggle="collapse" href="#{{ topic_page.name | slugify }}" role="button" aria-expanded="true" aria-controls="{{ topic_page.name | slugify}}">
                            <span class="docs-sidebar-link">{{topic_page.name}}</span>
                          </a>
                          <ul class="collapse show" id="{{topic_page.name | slugify }}">
                            {% for topic_sub_page in topic_page.pages %}
                              {% assign topic_sub_page_path = topic_sub_page.path | prepend: version_prefix | prepend: '/' %}
                              {% assign current_path = current_pretty_path %}
                              <li>
                                <a href="{{topic_sub_page_path}}">
                                  <span class="docs-sidebar-link {% if topic_sub_page_path == current_path %}active{% endif %}">{{topic_sub_page.name}}</span>
                                </a>
                                {% if topic_sub_page_path == current_path %}
                                  <div id="markdown-toc-container"></div>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        </li>

                      {% else %}
                        {% assign topic_page_path = topic_page.path | prepend: version_prefix | prepend: '/' %}
                        {% assign current_path = current_pretty_path %}
                        <li>
                          <a href="{{topic_page_path}}">
                            <span class="docs-sidebar-link {% if topic_page_path == current_path %}active{% endif %}">{{topic_page.name}}</span>
                          </a>
                          {% if topic_page_path == current_path %}
                            <div id="markdown-toc-container"></div>
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div id="docs-content" class="docs-container {% if sidebar_data %}col-12 col-lg-9 pl-lg-5 pt-5 pt-lg-0 {% else %}col-12{% endif %}">
      {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
    </div>
  </div>
</div>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
