---
layout: default
footer_background: bg-white
---
{% assign path_sections = page.url | split: '/' %}
{% assign current_version = path_sections[2] %}
{% assign current_section = path_sections[3] | remove_first: '.html' %}
{% assign documentation = site.data.docs[current_version].documentation %}
{% assign all_sections = 'guides, core, instrumentation, reporters' | split: ', ' %}
{% assign version_prefix = page.path | split: '/' | slice: 0, 2 | join: '/' %}
{% assign current_pretty_path = page.url | remove_first: '.html' %}
{% assign latest_version_link = page.url | replace: current_version, "latest" %}
{% assign path_without_version = path_sections | drop: 3 | join: "/" | prepend: "/" | append: "/" %}

{% assign current_section = '' %}
{% assign current_topic = '' %}


<nav class="d-lg-none mobile-docs-navbar" role="button">
  <div class="d-flex align-items-center h-100" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
    <button id="mobile-docs-navigation-toggle" class="navbar-toggler p-2 ml-2" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/assets/img/icons/docs-mobile-menu-icon.svg" class="d-inline-block align-top" alt="Menu expander icon">
    </button>
    <div class="d-inline mb-0 h4" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="true" aria-label="Toggle navigation">Documentation</div>
  </div>


  {% if documentation %}
  <div id="mobile-docs-navigation" style="z-index: 200;" class="d-lg-none mb-2 w-100 docs-sidebar-scroll docs-mobile-navigation-container collapse navbar-collapse py-2">
    <ul>
      {% for section in documentation %}
      {% assign section_id = section.name | slugify %}
      {% assign is_section_expanded = path_without_version | start_with: section.path %}

      <li>
        <div class="docs-section py-2 pr-2 {% if is_section_expanded %}active{% else %}collapsed{% endif %}"
          type="button"
          data-toggle="collapse"
          data-target="#{{ section_id }}"
          aria-expanded="{{ is_section_expanded }}"
          aria-controls="{{ section_id }}">

          <span class="ml-4">{{ section.name }}</span>
          <span class="collapse-caret"></span>
        </div>

        <ul id="{{ section_id }}" class="collapse pl-3 {% if is_section_expanded %}show{% endif %}" aria-labelledby="{{ section_id }}">
          {% for topic in section.topics %}
          <li class="mb-3">
            <div class="docs-topic py-2 ">{{ topic.name }}</div>

            <ul>
              {% for page in topic.pages %}
                <li>
                  {% if page.pages %}
                  {% assign page_id = page.name | slugify %}
                  {% assign is_page_expanded = page.pages | map: 'path' | contains: path_without_version %}
                  <div
                    class="docs-page py-2 pr-3 {% if is_page_expanded %}active{% else %}collapsed{% endif %}"
                    data-toggle="collapse"
                    data-target="#{{ page_id }}"
                    aria-expanded="{{ is_page_expanded }}">
                    {{page.name}}
                  </div>

                  <ul id="{{ page_id }}" class="docs-sub-page-group collapse {% if is_page_expanded %}show{% endif %}">
                    <div class="my-2">
                      {% for sub_page in page.pages %}
                      <a href="/{{ version_prefix | append: sub_page.path }}">
                        <li class="docs-sub-page py-2 {% if sub_page.path == path_without_version %}active{% endif %}">
                          {{sub_page.name}}
                        </li>
                      </a>
                      {% endfor %}
                    </div>
                  </ul>

                  {% else %}
                  <a href="/{{ version_prefix | append: page.path }}">
                    <div class="docs-page py-2 {% if page.path == path_without_version %}active{% endif %}">{{page.name}}</div>
                  </a>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor%}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</nav>

<div class="w-100">
  <div class="container-lg py-5 mt-3">
    <div class="row">

      {% if documentation %}
      <div id="docs-sidebar" class="d-none d-lg-block col-3 p-0 pr-3 pr-xxxl-5 docs-sidebar-nav d-none d-lg-block sticky-docs-navbar">
        <span class="h3">
          Documentation
        </span>
        <div class="doc-search-container mt-3">
          <input id="docSearch" type="text" placeholder="Find a topic...">
          <img class="doc-search-icon" src="/assets/img/icons/search.svg" />
        </div>
        <ul style="scrollbar-gutter: auto;">
          {% for section in documentation %}
          {% assign section_id = section.name | slugify %}
          {% assign is_section_expanded = path_without_version | start_with: section.path %}

          <li>
            <div class="docs-section p-1 my-2 {% if is_section_expanded %}active{% else %}collapsed{% endif %}"
              type="button"
              data-toggle="collapse"
              data-target="#{{ section_id }}"
              aria-expanded="{{ is_section_expanded }}"
              aria-controls="{{ section_id }}">

              <span class="collapse-caret"></span>
              <span class="ml-3">{{ section.name }}</span>
            </div>

            <ul id="{{ section_id }}" class="docs-section-contents my-2 collapse {% if is_section_expanded %}show{% endif %}" aria-labelledby="{{ section_id }}">
              {% for topic in section.topics %}
              <li class="mb-3">
                <div class="docs-topic pb-2 ">{{ topic.name }}</div>

                <ul class="mb-4">
                  {% for page in topic.pages %}
                    <li>
                      {% if page.pages %}
                      {% assign page_id = page.name | slugify %}
                      {% assign is_page_expanded = page.pages | map: 'path' | contains: path_without_version %}
                      <div
                        class="docs-page py-2 pr-3 {% if is_page_expanded %}active{% else %}collapsed{% endif %}"
                        data-toggle="collapse"
                        data-target="#{{ page_id }}"
                        aria-expanded="{{ is_page_expanded }}">
                        {{page.name}}
                      </div>

                      <ul id="{{ page_id }}" class="docs-sub-page-group collapse {% if is_page_expanded %}show{% endif %}">
                        <div class="mb-2">
                          {% for sub_page in page.pages %}
                          <a href="/{{ version_prefix | append: sub_page.path }}">
                            <li class="docs-sub-page py-1 {% if sub_page.path == path_without_version %}active{% endif %}">
                              {{sub_page.name}}
                            </li>
                          </a>
                          {% if sub_page.path == path_without_version %}
                            {% assign current_section = section.name %}
                            {% assign current_topic = topic.name %}
                          {% endif %}
                          {% endfor %}
                        </div>
                      </ul>

                      {% else %}
                      <a href="/{{ version_prefix | append: page.path }}">
                        <div class="docs-page py-1 {% if page.path == path_without_version %}active{% endif %}">{{page.name}}</div>
                      </a>
                        {% if page.path == path_without_version %}
                          {% assign current_section = section.name %}
                          {% assign current_topic = topic.name %}
                        {% endif %}
                      {% endif %}

                    </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor%}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div id="docs-content" class="docs-container pl-3 pr-5 {% if documentation %}col-12 col-lg-9 col-xl-7 {% else %}col-12{% endif %}">
        {% if current_version == 'v1' %}
          {% include outdated-docs-notice.html link=latest_version_link %}
        {% endif %}

        {% if current_section != '' %}
        <div class="docs-breadcrumbs mb-3">
          <span class="docs-breadcrumbs-section mr-3">{{current_section}}</span>/<span class="ml-3 docs-breadcrumns-topic">{{current_topic}}</span>
        </div>
        {% endif %}

        {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
      </div>

      <div id="docs-toc" class="docs-toc d-none d-xl-block col-0 col-lg-2 pt-1 pl-3">
        <span class="toc-heading">On this article</span>
        <div id="docs-toc-container">

        </div>
      </div>
    </div>
  </div>
</div>

<div id="apm-sidebar" class="apm-sidebar d-none p-5 pb-6">
  <img height="24" src="/assets/img/kamon/kamon-apm-logo-light.svg" alt="Kamon APM Logo" loading="eager"/>
  <div class="h6 mt-2">Monitor and fix issues in production without being an expert</div>
  <ul class="icon-list text-explainer">
    <li class="py-1">Ready-to-use dashboards</li>
    <li class="py-1">Alerts, metrics, and traces in a single platform</li>
    <li class="py-1">No infrastructure to install or maintain</li>
  </ul>
  <div class="text-center">
    <div>
      <a class="mt-4 no-decoration h6" href="/apm/">
        Learn about APM
      </a>
    </div>
    <a class="btn btn-primary shadow text-white mb-4 mt-2" data-toggle="modal" data-target="#apmOnboardingModal">
      Try Kamon APM
    </a>
    <a id="hide-apm-sidebar" class="d-block no-decoration text-caption cursor-pointer">
      I know how Kamon APM can help with monitoring. Don't show this again.
    </a>
  </div>
</div>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: 'b8559453007fa5c62d8074697f3db5f5',
  indexName: 'kamon',
  inputSelector: '#docSearch',
  debug: false,
  algoliaOptions: {
    hitsPerPage: 12,
  },
});
</script> 
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" defer></script>
