---
layout: default
---
{% assign path_sections = page.url | split: '/' %}
{% assign current_version = path_sections[2] %}
{% assign current_section = path_sections[3] | remove_first: '.html' %}
{% assign documentation = site.data.docs[current_version].documentation %}
{% assign all_sections = 'guides, core, instrumentation, reporters' | split: ', ' %}
{% assign version_prefix = page.path | split: '/' | slice: 0, 2 | join: '/' %}
{% assign current_pretty_path = page.url | remove_first: '.html' %}
{% assign latest_version_link = page.url | replace: current_version, "latest" %}
{% assign path_without_version = path_sections | drop: 3 | join: "/" | prepend: "/" | append: "/" %}


<nav class="d-lg-none mobile-docs-navbar" role="button">
  <div class="d-flex align-items-center h-100" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
    <button id="mobile-docs-navigation-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/assets/img/icons/docs-mobile-menu-icon.svg" class="d-inline-block align-top" alt="Menu expander icon">
    </button>
    <h4 class="d-inline mb-0" type="button" data-toggle="collapse" data-target="#mobile-docs-navigation" aria-controls="mobile-docs-navigation" aria-expanded="true" aria-label="Toggle navigation">Documentation</h4>
  </div>


  {% if documentation %}
  <div id="mobile-docs-navigation" style="z-index: 200;" class="d-lg-none w-100 p-0 pr-3 docs-sidebar-scroll docs-mobile-navigation-container collapse navbar-collapse">
    <ul>
      {% for section in documentation %}
      {% assign section_id = section.name | slugify %}
      {% assign is_section_expanded = path_without_version | start_with: section.path %}

      <li>
        <div class="docs-section py-2 px-3 {% if is_section_expanded %}active{% else %}collapsed{% endif %}"
          type="button"
          data-toggle="collapse"
          data-target="#{{ section_id }}"
          aria-expanded="{{ is_section_expanded }}"
          aria-controls="{{ section_id }}">

          <span style="padding-left: 2rem; background-image: url({{section.icon}}); background-repeat: no-repeat; background-size: contain;">{{ section.name }}</span>
          <span class="collapse-caret"></span>
        </div>

        <ul id="{{ section_id }}" class="collapse {% if is_section_expanded %}show{% endif %}" aria-labelledby="{{ section_id }}">
          {% for topic in section.topics %}
          <li class="pb-3">
            <div class="docs-topic py-2 ">{{ topic.name }}</div>

            <ul>
              {% for page in topic.pages %}
                <li>
                  {% if page.pages %}
                  {% assign page_id = page.name | slugify %}
                  {% assign is_page_expanded = page.pages | map: 'path' | contains: path_without_version %}
                  <div
                    class="docs-page py-2 pr-3 {% if is_page_expanded %}active{% else %}collapsed{% endif %}"
                    data-toggle="collapse"
                    data-target="#{{ page_id }}"
                    aria-expanded="{{ is_page_expanded }}">
                    {{page.name}}
                    <span class="collapse-caret collapse-caret-small"></span>
                  </div>

                  <ul id="{{ page_id }}" class="docs-sub-page-group collapse {% if is_page_expanded %}show{% endif %}">
                    <div class="my-2">
                      {% for sub_page in page.pages %}
                      <a href="/{{ version_prefix | append: sub_page.path }}">
                        <li class="docs-sub-page py-2 {% if sub_page.path == path_without_version %}active{% endif %}">
                          {{sub_page.name}}
                        </li>
                      </a>
                      {% endfor %}
                    </div>
                  </ul>

                  {% else %}
                  <a href="/{{ version_prefix | append: page.path }}">
                    <div class="docs-page py-2 {% if page.path == path_without_version %}active{% endif %}">{{page.name}}</div>
                  </a>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor%}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</nav>

<div class="w-100"  style="background-color: #FAFAFC;">
  <div class="container-lg pb-5 pt-5">
    <div class="row">

      {% if documentation %}
      <div id="docs-sidebar" class="d-none d-lg-block col-3 p-0 pr-3 docs-sidebar-nav d-none d-lg-block sticky-docs-navbar">
        <input id="docSearch" type="text">
        <ul>
          {% for section in documentation %}
          {% assign section_id = section.name | slugify %}
          {% assign is_section_expanded = path_without_version | start_with: section.path %}

          <li>
            <div class="docs-section py-2 px-3 {% if is_section_expanded %}active{% else %}collapsed{% endif %}"
              type="button"
              data-toggle="collapse"
              data-target="#{{ section_id }}"
              aria-expanded="{{ is_section_expanded }}"
              aria-controls="{{ section_id }}">

              <span style="padding-left: 2rem; background-image: url({{section.icon}}); background-repeat: no-repeat; background-size: contain;">{{ section.name }}</span>
              <span class="collapse-caret"></span>
            </div>

            <ul id="{{ section_id }}" class="collapse {% if is_section_expanded %}show{% endif %}" aria-labelledby="{{ section_id }}">
              {% for topic in section.topics %}
              <li class="pb-3">
                <div class="docs-topic py-2 ">{{ topic.name }}</div>

                <ul>
                  {% for page in topic.pages %}
                    <li>
                      {% if page.pages %}
                      {% assign page_id = page.name | slugify %}
                      {% assign is_page_expanded = page.pages | map: 'path' | contains: path_without_version %}
                      <div
                        class="docs-page py-2 pr-3 {% if is_page_expanded %}active{% else %}collapsed{% endif %}"
                        data-toggle="collapse"
                        data-target="#{{ page_id }}"
                        aria-expanded="{{ is_page_expanded }}">
                        {{page.name}}
                        <span class="collapse-caret collapse-caret-small"></span>
                      </div>

                      <ul id="{{ page_id }}" class="docs-sub-page-group collapse {% if is_page_expanded %}show{% endif %}">
                        <div class="my-2">
                          {% for sub_page in page.pages %}
                          <a href="/{{ version_prefix | append: sub_page.path }}">
                            <li class="docs-sub-page py-2 {% if sub_page.path == path_without_version %}active{% endif %}">
                              {{sub_page.name}}
                            </li>
                          </a>
                          {% endfor %}
                        </div>
                      </ul>

                      {% else %}
                      <a href="/{{ version_prefix | append: page.path }}">
                        <div class="docs-page py-2 {% if page.path == path_without_version %}active{% endif %}">{{page.name}}</div>
                      </a>
                      {% endif %}

                    </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor%}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div id="docs-content" class="docs-container px-5 pb-5 {% if documentation %}col-12 col-lg-9 {% else %}col-12{% endif %}">
        {% if current_version == 'v1' %}
          {% include outdated-docs-notice.html link=latest_version_link %}
        {% endif %}
        {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor" %}
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: 'b8559453007fa5c62d8074697f3db5f5',
indexName: 'kamon',
inputSelector: '#docSearch',
debug: false
});
</script> 
