---
layout: default
transparent_heading: true
footer_background: bg-lightest
---

<main>
  <div class="container-fluid dark-heading-background navbar-offset">
    <div class="blog-post-heading-container">
      <div class="container">
        <div class="row no-gutters{% unless page.cover_image %} pb-5{% endunless %}">
          <div class="col-12 col-lg-6">
            <h1 class="pr-lg-4 text-white post-title">{{ page.title }}</h1>
          </div>

          <div class="col-lg-2"></div>

          <div class="col-12 col-lg-4 d-flex justify-content-lg-end mt-5 mt-lg-0">
            {% if page.twitter %}
              <a href="{{ page.twitter }}" class="contact-button twitter-link" target="_blank"></a>
            {% else %}
              <a href="https://twitter.com/kamonteam" class="contact-button twitter-link" target="_blank"></a>
            {% endif %}
            <div class="ml-2 text-white text-body-smaller">
              <div class="font-weight-bold mb-1">by {{ page.author }}</div>
                {% if page.last_update %}
                  <div>{{ page.last_update | date: "%e %B, %Y" }} </div>
                {% else %}
                  <div>{{ page.date | date: "%e %B, %Y" }} </div>
                {% endif %}
            </div>
          </div>
        </div>
    
        {% if page.cover_image %}
        <div class="post-cover-image-container">
          <img class="w-100 post-cover-image" src="{{ page.cover_image }}" alt="post cover image"/>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container-fluid bg-lightest">
    <div class="post-content-wrapper{% if page.cover_image %} spaced-out{% endif %}">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-lg-8">
            <div class="js-markdown-content markdown-content post-content">
              <a id="article-start"></a>
              {{ content }}
            </div>
          </div>
  
          <div class="col-12 col-lg-4 pl-lg-5">
            <div class="sticky-posts-actions">
              <div class="d-none d-lg-block">
                <h3 class="toc-title">Table of Contents</h3>
                <ul class="js-toc table-of-contents">
                  <li class="toc-item">
                    <a href="#article-start">Introduction</a>
                  </li>
                </ul>
              </div>
              
              <div class="mt-5 mb-5">
                <h6>Share this post</h6>
                <div class="flex mt-3">
                  <a href="/" class="share-button twitter-share" target="_blank"></a>
                  <a href="/" class="share-button reddit-share" target="_blank"></a>
                  <a href="/" class="share-button linkedin-share" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign related = site.posts | where_exp:"item","item.categories == page.categories and item.title != page.title" %}

  <div class="container-fluid bg-lightest js-related-items-carousel-container pt-lg-5">
    <div class="container">
      <div class="w-100 text-center mb-5 carousel-heading">
        <h2>Related Posts</h2>
      </div>
      <div class="blog-related-container position-relative">
        <div id="blogPostsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators d-lg-none js-carousel-indicators">
          </ol>

          <div class="carousel-inner js-carousel-items">
          </div>
        </div>

        <a data-target="#blogPostsCarousel" data-slide="prev" role="button" class="d-none d-lg-block previous-blog-btn js-carousel-btn">
          <img src="/assets/img/icons/directional/angle-left.svg" alt="Next post slide icon">
        </a>
        <a data-target="#blogPostsCarousel" data-slide="next" role="button" class="d-none d-lg-block next-blog-btn js-carousel-btn">
          <img src="/assets/img/icons/directional/angle-right.svg" alt="Previous post slide icon">
        </a>
      </div>
    </div>
  </div>

  <div class="js-related-posts-templates">
    {% for post in related %}
      {% include post-card.html post=post small=1 %}
    {% endfor %}
  </div>
</main>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
<script src="/assets/js/post.js" defer></script>
<script>
  document.addEventListener("readystatechange", function() {
    $(".twitter-share").prop("href", "https://twitter.com/intent/tweet?url=" + encodeURIComponent(location.href))
    $(".reddit-share").prop("href", "https://www.reddit.com/submit?title=" + encodeURIComponent(document.title) + "&url=" + encodeURIComponent(location.href))
    $(".linkedin-share").prop("href", "https://www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(location.href))
  })
</script>
