---
layout: default
transparent_heading: true
footer_background: bg-white
---

<main>
  <div class="container-fluid dark-heading-background navbar-offset">
    <div class="blog-post-heading-container">
      <div class="container">    
        {% if page.cover_image %}
        <div class="post-cover-image-container">
          <img class="w-100 post-cover-image" src="{{ page.cover_image }}" alt="post cover image"/>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container-fluid bg-white">
    <div class="post-content-wrapper{% if page.cover_image %} spaced-out{% endif %}">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-lg-9 col-xxl-8 offset-xxl-1">

            <div class="mb-5">
              <h1>{{ page.title }}</h1>
              
              <div class="d-flex mt-3">
                {% if page.twitter %}
                  <a href="https://twitter.com/{{ page.twitter }}" class="contact-button twitter-link" target="_blank"></a>
                {% else %}
                  <a href="https://twitter.com/kamonteam" class="contact-button twitter-link" target="_blank"></a>
                {% endif %}
                <div class="ml-2 text-body-smaller">
                  {% if page.twitter %}
                    <a href="https://twitter.com/{{ page.twitter }}" class="no-decoration" target="_blank">
                      <div class="font-weight-bold">by {{ page.author }}</div>
                    </a>
                  {% else %}
                    <div class="font-weight-bold">by {{ page.author }}</div>
                  {% endif %}
                 
  
                    {% if page.last_update %}
                      <div>{{ page.last_update | date: "%B %e, %Y" }} </div>
                    {% else %}
                      <div>{{ page.date | date: "%B %e, %Y" }} </div>
                    {% endif %}
                </div>
              </div>
            </div>

            <div class="js-markdown-content markdown-content post-content pb-5">
              <a id="article-start"></a>
              {{ content }}
            </div>
          </div>
  
          <div class="col-12 col-lg-3 pl-lg-5">
            <div class="sticky-posts-actions blog-toc pl-3 py-1">
              <div class="d-none d-lg-block">
                <span class="blog-sidebar-title">On this article</span>
                <ul class="js-toc table-of-contents">
                  <li class="toc-item">
                    <a href="#article-start">Introduction</a>
                  </li>
                </ul>
              </div>
              
              <div class="mt-3">
                <span class="blog-sidebar-title">Share this article</span>
                <div class="flex mt-3">
                  <a href="/" class="share-button twitter-share" target="_blank"></a>
                  <a href="/" class="share-button reddit-share" target="_blank"></a>
                  <a href="/" class="share-button linkedin-share" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% assign related = site.posts | where_exp:"item","item.categories == page.categories and item.title != page.title" %}

  <div class="container-fluid bg-white js-related-items-carousel-container">
    <section class="container">
      <div class="w-100 text-center mb-5 carousel-heading">
        <h2>Related Content</h2>
      </div>
      <div class="blog-related-container position-relative">
        <div id="blogPostsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators d-lg-none js-carousel-indicators">
          </ol>

          <div class="carousel-inner js-carousel-items">
          </div>
        </div>

        <a data-target="#blogPostsCarousel" data-slide="prev" role="button" class="d-none d-lg-block previous-blog-btn js-carousel-btn">
          <img src="/assets/img/icons/directional/angle-left.svg" alt="Next post slide icon">
        </a>
        <a data-target="#blogPostsCarousel" data-slide="next" role="button" class="d-none d-lg-block next-blog-btn js-carousel-btn">
          <img src="/assets/img/icons/directional/angle-right.svg" alt="Previous post slide icon">
        </a>
      </div>
    </section>
  </div>

  <div class="js-related-posts-templates">
    {% for post in related %}
      {% include post-card.html post=post small=1 %}
    {% endfor %}
  </div>
</main>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
<script src="/assets/js/post.js" defer></script>
<script>
  document.addEventListener("readystatechange", function() {
    $(".twitter-share").prop("href", "https://twitter.com/intent/tweet?url=" + encodeURIComponent(location.href))
    $(".reddit-share").prop("href", "https://www.reddit.com/submit?title=" + encodeURIComponent(document.title) + "&url=" + encodeURIComponent(location.href))
    $(".linkedin-share").prop("href", "https://www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(location.href))
  })
</script>
