---
layout: default
---

<div class="background-top-gray-green"></div>

<main class="container post-container">
  <section>
    <div class="row no-gutters">
      <div class="col-12 col-lg-8">
        <h1 class="pr-lg-4">{{ page.title }}</h1>
        {% if page.last_update %}
        <span class="text-light">Last Updated on {{ page.last_update | date: "%B %e, %Y" }} </span>
        {% else %}
        <span class="text-light">Published on {{ page.date | date: "%B %e, %Y" }} </span>
        {% endif %}
      </div>
    </div>

    {% if page.cover_image %}
    <div class="mt-5">
      <img class="image-100-auto" src="{{ page.cover_image }}" alt="post cover image"/>
    </div>
    {% endif %}

    <div class="row no-gutters mt-5">
      <div class="col-12 col-lg-8">
        <div class="markdown-content post-content">
          {{ content }}
        </div>
      </div>
      <div class="col-12 col-lg-4 pl-lg-5">
        <div class="sticky-posts-actions">
          <div class="d-none d-lg-block text-center p-5 start-monitoring-card-small">
            <h5 class="text-dark-1">Eliminate slow requests <br>and errors like a Pro</h5>
            <p class="text-body-smaller mt-3">
              Don't wait until production goes down again to set up monitoring.<br>
              It's a 3-minute setup and <br>you can start for <b>Free</b>!
            </p>
            <p>
              
            </p>

            <a class="btn btn-primary mt-3 text-white onboarding-start-button px-5 py-2" href="#">
              Try Kamon APM
            </a>
          </div>
          <div class="mt-5">
            <h6>Share this post</h6>
            <div class="flex">
              <a href="/" class="share-button twitter-share" target="_blank"></a>
              <a href="/" class="share-button reddit-share" target="_blank"></a>
              <a href="/" class="share-button linkedin-share" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<script src="/assets/js/prism.js" defer></script>
<script src="/assets/js/docs.js" defer></script>
<script>
  document.addEventListener("readystatechange", function() {
    $(".twitter-share").prop("href", "https://twitter.com/intent/tweet?url=" + encodeURIComponent(location.href))
    $(".reddit-share").prop("href", "https://www.reddit.com/submit?title=" + encodeURIComponent(document.title) + "&url=" + encodeURIComponent(location.href))
    $(".linkedin-share").prop("href", "https://www.linkedin.com/sharing/share-offsite/?url=" + encodeURIComponent(location.href))
  })
</script>
